.counselor form .counselor-btn button:active, #manage .manage-list .distinc button:active, #manage .manage-contents button:active {
  -webkit-box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.6), inset -3px -3px 5px #ffffff, inset 3px 3px 5px rgba(25, 72, 148, 0.32);
          box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.6), inset -3px -3px 5px #ffffff, inset 3px 3px 5px rgba(25, 72, 148, 0.32);
}

#manage .manage-list .list-con p, #manage .manage-list h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#manage .manage-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 30px;
}
#manage .manage-contents .manager-add {
  width: 80px;
  height: 40px;
  color: #194894;
}
#manage .manage-contents form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#manage .manage-contents button:active {
  font-weight: 500;
}
#manage .manage-contents .selection {
  width: 150px;
  margin-right: 20px;
}
#manage .manage-contents .selection button {
  padding-left: 10px;
  background-size: 16px;
}
#manage .manage-contents .selection .option li {
  font-size: 1rem;
}
#manage .manage-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#manage .manage-list {
  text-align: center;
  padding: 20px 30px;
}
#manage .manage-list .num, #manage .manage-list .position {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
#manage .manage-list .id {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}
#manage .manage-list .name {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}
#manage .manage-list .belong {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}
#manage .manage-list .email {
  -webkit-box-flex: 17;
      -ms-flex: 17;
          flex: 17;
}
#manage .manage-list .phone, #manage .manage-list .enroll, #manage .manage-list .final {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}
#manage .manage-list .distinc {
  -webkit-box-flex: 13;
      -ms-flex: 13;
          flex: 13;
}
#manage .manage-list h2 {
  padding: 0 20px;
  height: 50px;
  font-size: 0.875rem;
  color: #194894;
  font-weight: 700;
}
#manage .manage-list .list-con {
  padding: 20px;
}
#manage .manage-list .list-con p {
  font-size: 0.9375rem;
  height: 52px;
  border-bottom: 1px solid #E5E5E5;
}
#manage .manage-list .list-con p:last-of-type {
  border-bottom: none;
}
#manage .manage-list .distinc button {
  padding: 6px 13px;
  font-size: 0.875rem;
}
#manage .manage-list .distinc button.detail {
  color: #E87728;
  margin-right: 10px;
}
#manage .manage-list .distinc button:active {
  font-weight: 500;
}

.counselor {
  background: #F2F2F8;
  border-width: 3px 0 0 3px;
  border-color: #fff;
  border-style: solid;
  -webkit-box-shadow: 6px 6px 12px rgba(25, 72, 148, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 6px 6px 12px rgba(25, 72, 148, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.2);
  margin: 100px auto 0;
  width: 480px;
  height: 77.7777777778vh;
  overflow-y: scroll;
  padding: 27px 13px 30px 27px;
}
.counselor::-webkit-scrollbar {
  width: 14px;
}
.counselor::-webkit-scrollbar-thumb {
  background-color: #194894;
  border-radius: 10px;
  border: 6px solid #F2F2F8;
}
.counselor .title {
  color: #194894;
  margin-top: 0;
}
.counselor form {
  text-align: left;
  display: grid;
  grid-template: repeat(9, auto)/1fr 1fr;
  gap: 16px 20px;
}
.counselor form > div {
  grid-column: 1/3;
}
.counselor form > div p {
  padding-left: 10px;
  font-size: 14px;
}
.counselor form > div:nth-of-type(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.counselor form > div:nth-of-type(6) p {
  width: 100%;
}
.counselor form > div:nth-of-type(6) input, .counselor form > div:nth-of-type(6) .selection {
  width: calc(50% - 15px);
}
.counselor form > div:nth-of-type(6) .selection {
  height: 54px;
}
.counselor form > div:nth-of-type(6) span {
  width: 30px;
  text-align: center;
}
.counselor form > div:nth-of-type(7) {
  grid-column: 1/2;
}
.counselor form > div:nth-of-type(8) {
  grid-column: 2/3;
}
.counselor form > div:nth-of-type(10) {
  text-align: center;
}
.counselor form input {
  height: 54px;
  padding: 0 20px;
}
.counselor form textarea {
  height: 150px;
  padding: 10px 20px;
}
.counselor form input, .counselor form textarea {
  width: 100%;
  margin-top: 4px;
}
.counselor form .counselor-btn button {
  height: 50px;
  width: 140px;
  color: #8A8A95;
}
.counselor form .counselor-btn button:first-of-type {
  color: #194894;
  margin-right: 20px;
}
.counselor form .counselor-btn button:active {
  font-weight: 500;
}

.counselor-detail form {
  grid-template: repeat(10, auto)/1fr 1fr;
}
.counselor-detail form > div:nth-of-type(10) {
  grid-column: 1/2;
  text-align: left;
}
.counselor-detail form > div:nth-of-type(11) {
  grid-column: 2/3;
}
.counselor-detail form > div:nth-of-type(12) {
  text-align: center;
}

ul.option.active {
    display: inline-block;
}