#trace .list {
  display: grid;

}
#trace .list.active {
    display: flex;
    flex-direction: column;
}

#trace .list .detail, #trace .trace-list.active, #trace .trace-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trace .trace-contents {
  margin-top: 60px;
  margin-bottom: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
#trace .trace-contents form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#trace .trace-contents .selection {
  width: 150px;
  margin-right: 20px;
}
#trace .trace-contents .selection button {
  padding-left: 10px;
  background-size: 16px;
}
#trace .trace-contents .selection .option li {
  font-size: 1rem;
}
#trace .trace-list.active {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#trace .list {
  position: relative;
  grid-template-columns: 104px auto;
  grid-template-rows: repeat(4, auto);
  margin-bottom: 10px;
  padding: 10px 20px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
#trace .list .img-box {
  grid-area: 1/1/5/2;
}
#trace .list .unity,
#trace .list .content,
#trace .list .url,
#trace .list .detail {
  grid-column: 2/3;
}
#trace .list .img,
#trace .list .video {
  width: 104px;
  height: 104px;
  -o-object-fit: cover;
     object-fit: cover;
}
#trace .list .sns {
  right: 4px;
  bottom: 4px;
}
#trace .list .url {
  color: #545759;
}
#trace .list .unity {
  font-size: 1rem;
}
#trace .list .unity span {
  color: #545759;
  font-weight: 400;
}
#trace .list .del {
  position: absolute;
  right: 10px;
  top: 10px;
}
#trace .list.active {
  width: 23.2558139535%;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  padding: 14px 10px;
  margin-bottom: 30px;
}
#trace .list.active .img-box {
  width: 100%;
  grid-row: 2/3;
  margin: 4px 0;
}
#trace .list.active .unity,
#trace .list.active .content,
#trace .list.active .url,
#trace .list.active .detail {
  grid-column-start: 1;
  grid-column-end: 2;
}
#trace .list.active .unity,
#trace .list.active .content,
#trace .list.active .url {
  padding: 0 4px;
}
#trace .list.active .unity {
  grid-row: 1/2;
}
#trace .list.active .img,
#trace .list.active .video {
  width: 100%;
  height: 180px;
}
#trace .list.active .detail {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#trace .list.active .detail .detail-info {
  display: none;
}