<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>디지털 성범죄</title>
  <link rel="stylesheet" href="/css/common.min.css" />
  <link rel="stylesheet" href="/css/manage.min.css" />
  <link rel="stylesheet" href="/css/dev.css" />

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="/js/footer.js"></script>
  <script src="/js/pagination.js"></script>
  <script src="/js/style.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js'></script>
  <script src="html2canvas.hertzen.com/dist/html2canvas.js"></script>
</head>
<style>
  p {
    margin:auto;
    margin-top:30px;
    text-align:center;
    color: red;
  }
  .parent{
    margin: 10px auto;
  }

  .first {
    display: inline-block;
    width: 580px;
    float: left;
    margin-top: 90px;
  }

  .second{
    display: inline-block;
    float: right;
    width: 580px;
  }

  .three {
    display: inline-block;
    width: 580px;
    float: left;
    margin-top: 90px;
    margin-right: 152px;
  }

  .four{
    display: inline-block;
    float: right;
    width: 580px;
    margin-top: -290px;
  }

  .five {
    display: inline-block;
    width: 580px;
    float: left;
    margin-top: 90px;
  }

  .six{
    display: inline-block;
    float: right;
    width: 580px;
    margin-top: 90px;
  }
</style>

<body>
<article class="manage-wrap wrapper">
  <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
  <section class="layout" >

    <h1 class="title">사용자별 활용 현황</h1>
    <table style="display: none" id='noticeList' >
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="noticeHistDtoList : ${noticeHistDtoList}">
          <td th:text="${noticeHistDtoList.noticeDate}"></td>
          <td th:text="${noticeHistDtoList.noticeCnt}"></td>
        </tr>
      </tbody>
    </table>

    <table style="display: none"  id='userTraceHistList' >
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="userTraceHistList : ${userTraceHistList}">
          <td th:text="${userTraceHistList.userId}"></td>
          <td th:text="${userTraceHistList.traceCnt}"></td>
        </tr>
      </tbody>
    </table>

    <table style="display: none" id='userSearchInfoHistList'>
      <thead>
          <tr>
            <th>날짜</th>
            <th>카운트</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="userSearchInfoHistList : ${userSearchInfoHistList}">
            <td th:text="${userSearchInfoHistList.userId}"></td>
            <td th:text="${userSearchInfoHistList.infoHistCnt}"></td>
          </tr>
      </tbody>
    </table>

    <table style="display: none" id='userSearchResultHistList'>
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="userSearchResultHistList : ${userSearchResultHistList}">
          <td th:text="${userSearchResultHistList.userId}"></td>
          <td th:text="${userSearchResultHistList.rsltCnt}"></td>
        </tr>
      </tbody>
    </table>

    <table style="display: none" id='userNoticeHistList'>
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="userNoticeHistList : ${userNoticeHistList}">
          <td th:text="${userNoticeHistList.userId}"></td>
          <td th:text="${userNoticeHistList.noticeCnt}"></td>
        </tr>
      </tbody>
    </table>

    <!-- 사용자별 모니터링 현황 -->
    <table style="display: none" id='userMonitoringHistList'>
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="userMonitoringHistList : ${userMonitoringHistList}">
          <td th:text="${userMonitoringHistList.userId}"></td>
          <td th:text="${userMonitoringHistList.monitoringCnt}"></td>
        </tr>
      </tbody>
    </table>

    <table style="display: none" id='userDeleteReqHistList'>
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="userDeleteReqHistList : ${userDeleteReqHistList}">
          <td th:text="${userDeleteReqHistList.userId}"></td>
          <td th:text="${userDeleteReqHistList.deleteRequestCnt}"></td>
        </tr>
      </tbody>
    </table>

    <table style="display: none" id='userDeleteComptHistList'>
      <thead>
        <tr>
          <th>날짜</th>
          <th>카운트</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="userDeleteComptHistList : ${userDeleteComptHistList}">
          <td th:text="${userDeleteComptHistList.userId}"></td>
          <td th:text="${userDeleteComptHistList.deleteComptCnt}"></td>
        </tr>
      </tbody>
    </table>

    <form class="connectForm" action="/connect" method="post">
      <div style="width: 320px; height: 53px; padding-left: 25px; padding-top: 10px; float: right; margin-bottom: 45px;" >
        <!--<input style="margin-right: 20px; font-weight: bold;" type="date" id="fromDate" name="fromDate" th:value="${fromDate}" />-->
        <input style="margin-left: 20px; font-weight: bold;" type="date" id="toDate" name="toDate" th:value="${toDate}" />
        <button style="width: 70px; margin-left: 65px; font-size: 15px; color: #7c7c7f; height: 30px; font-weight: bold;"
                class="bor10 btn-off manager-add" type="submit" onclick="rowClicked();">검색</button>
      </div>
    </form>

    <div class="parent" id="pdfDiv" ><!-- style="width: 600px; float: left;" -->
      <!--<div id="div_myAreaChart" style="margin-top: 50px;">-->
      <ul class="pdfArea">
        <li class="first" id="div_myAreaChart" >
          <canvas id="myChart" ></canvas>
        </li>
        <li class="second" id="div_myAreaChart2">
          <canvas id="myChart2" ></canvas>
        </li>

        <li class="three" id="div_myAreaChart3">
          <canvas id="myChart3" ></canvas>
        </li>
        <li class="four">
          <canvas id="myChart4"></canvas>
        </li>

        <li class="five" id="div_myAreaChart5">
          <canvas id="myChart5"></canvas>
        </li>
        <li class="six">
          <canvas id="myChart6"></canvas>
        </li>
      </ul>
    </div>

    <form action="/connect/excel/download" method="get">
      <div class="downBtn" style="margin-top: 50px; float: right;">
        <!--<input style="margin-right: 20px; font-weight: bold; display: none;" type="date" name="fromDate" th:value="${fromDate}" />-->
        <input style="margin-left: 20px; font-weight: bold; display: none;" type="date" name="toDate"  th:value="${toDate}"  />
        <button class="bor10 btn-off manager-add" style="margin-right: 10px; height: 60px; font-size: 17px; width: 121px; font-weight: bold; color: #e88550;"
                type="submit">Excel <br> Download</button>
<!--
        <button class="bor10 btn-off manager-add" style="height: 60px; font-size: 17px; width: 121px; font-weight: bold; color: #e88550;"
                type="button" onclick="pdfDown();"> PDF <br> Download</button>
-->
      </div>
    </form>

  </section>
  <script>footer()</script>
</article>

<script>
  //테이블안에 tr을 for문으로 td의 값을 뽑아서 arraypush
  $(document).ready(function(){
    getGraph();
    rowClicked();
    getUserKeywordCnt();
    getMonitoringList();
    getMonitoring();
    // getBubble();
  });

  function getGraph() {
    $('#myChart2').remove(); //그래프 그리는 영역 지움 width="100%" height="40"
    $('#div_myAreaChart2').append('<canvas id="myChart2" ></canvas>');

    // const fromDate = document.getElementById("fromDate").value;
    const toDate = document.getElementById("toDate").value;

    var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);

    $('#toDate').attr('value', toDate);

    let totalDateList = [];
    let cntList = [];
    let userList = [];

    $.ajax({
      url: "/userLoginCnt",
      type: "get",
      dataType: "json",
      data: {
      //  fromDate: fromDate,
        toDate: toDate
      },
      success:function(data) {
        for(let i=0; i < data.length; i++) {
          cntList.push(data[i].cnt);
          userList.push(data[i].userId);
        }
        new Chart(document.getElementById('myChart2'), {
          type: 'bar',
          data: {
            labels: userList,
            datasets: [{
              data: cntList,
              label: "접속자카운트",
              borderColor: '#FFE4B5',
              backgroundColor: '#FFE4B5',
              fill:true
            }]
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: '사용자 접속 현황'
              }
            },
            scales: {
              responsive: true,
            }
          }
        });
      }, error:function(){
        console.log("통신 실패")
      }
    })
  }

  function rowClicked() {
    $('#myChart').remove(); //그래프 그리는 영역 지움
    $('#div_myAreaChart').append('<canvas id="myChart" ></canvas>');

    // const fromDate = document.getElementById("fromDate").value;
    const toDate = document.getElementById("toDate").value;
/*
    var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
    if(!(regex.test(fromDate) && regex.test(toDate)))
      return "Not Date Format";
    var result = [];
    var curDate = new Date(fromDate);

    while(curDate <= new Date(toDate)) {
      result.push(curDate.toISOString().split("T")[0]);
      curDate.setDate(curDate.getDate() + 1);
    }

    let totalDateList = [];
    for(var i=0; i<result.length; i++) {
      result[i] = result[i].replace(/-/g, "")
      totalDateList.push(result[i]);
    }
*/

    let traceUserList = [];
    let traceCntList = [];

    let searchInfoUserList = [];
    let searchInfoCntList = [];

    let userSearchResultUserList = [];
    let userSearchResultCntList = [];

    let userNoticeUserList = [];
    let userNoticeCntList = [];

    var userTraceHistList = document.getElementById('userTraceHistList').getElementsByTagName("tr");
    var userSearchInfoHistList = document.getElementById('userSearchInfoHistList').getElementsByTagName("tr");
    var userSearchResultHistList = document.getElementById('userSearchResultHistList').getElementsByTagName("tr");
    var userNoticeHistList = document.getElementById('userNoticeHistList').getElementsByTagName("tr");

    for(var i=1; i<userTraceHistList.length; i++) {
      var cells = userTraceHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data; // 사용자
      var cell_2 = cells[1].firstChild.data; // 카운트
      traceUserList.push(cell_1);
      traceCntList.push(cell_2);

    }

    for(var i=1; i<userSearchInfoHistList.length; i++) {
      var cells = userSearchInfoHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data; // 사용자
      var cell_2 = cells[1].firstChild.data; // 카운트
      searchInfoUserList.push(cell_1);
      searchInfoCntList.push(cell_2);

    }

    for(var i=1; i<userSearchResultHistList.length; i++) {
      var cells = userSearchResultHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data; // 사용자
      var cell_2 = cells[1].firstChild.data; // 카운트
      userSearchResultUserList.push(cell_1);
      userSearchResultCntList.push(cell_2);

    }

    for(var i=1; i<userNoticeHistList.length; i++) {
      var cells = userNoticeHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data; // 사용자
      var cell_2 = cells[1].firstChild.data; // 카운트
      userNoticeUserList.push(cell_1);
      userNoticeCntList.push(cell_2);

    }

    const ctx = document.getElementById('myChart').getContext('2d');

    const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: userSearchResultUserList,
        datasets: [
          {
            label: '모니터링',
            data: traceCntList,
            borderColor:'rgba(255, 99, 132, 1)',
            backgroundColor:'rgba(255, 99, 132, 1)',
            borderWidth: 2
          },
          {
            label: '이력관리',
            data: searchInfoCntList,
            borderColor:'#E56D29',
            backgroundColor:'#E56D29',
            borderWidth: 2
          },
          {
            label: '검색결과',
            data: userSearchResultCntList,
            borderColor:'rgba(120, 99, 132, 1)',
            backgroundColor:'rgba(120, 99, 132, 1)',
            borderWidth: 2
          },
          {
            label: '자동추적',
            data: userNoticeHistList,
            borderColor:'#3232FF',
            backgroundColor:'#3232FF',
            borderWidth: 2
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: true,
            position: 'top',
          }, title: {
            display: true,
            text: '화면별 사용자 접속 현황'
          }
        },
        scales: {
          responsive: true,
        }
      }
    });
  }

  function getUserKeywordCnt() {
    // const fromDate = document.getElementById("fromDate").value;
    const toDate = document.getElementById("toDate").value;

    // $('#fromDate').attr('value', fromDate);
    $('#toDate').attr('value', toDate);

    let keywordCnt = [];
    let userIdList = [];
    let resultCnt = [];

    $.ajax({
      url: "/userKeywordCntList",
      type: "get",
      dataType: "json",
      data: {
      //  fromDate: fromDate,
        toDate: toDate
      },
      success:function(data) {
        $('#myChart3').remove();
        $('#div_myAreaChart3').append('<canvas id="myChart3" ></canvas>');

        for(let i=0; i<data.length; i++) {
          keywordCnt.push(data[i].keywordCnt);
          userIdList.push(data[i].userId)
          resultCnt.push(data[i].resultCnt);
        }

        new Chart(document.getElementById('myChart3'),{
          type: 'bar',
          data: {
            labels:userIdList,
            datasets: [
              {
                label: '키워드',
                data: keywordCnt,
                backgroundColor: 'rgba(255, 99, 132, 0.6)',
                borderColor: 'rgb(255, 99, 132)',
              },
              {
                label: '키워드 결과 갯수',
                data: resultCnt,
                backgroundColor: 'rgba(35, 192, 192, 0.6)',
                borderColor: 'rgb(35, 192, 192)',
                type: 'line',
              }
            ]
          }, options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: '사용자별 검색 키워드 현황'
              }
            }
          }
        });

      }, error:function(){
        console.log("통신 실패")
      }
    })
  }

  function getMonitoring() {
    const exampleMonitoring = document.querySelector('#myChart5').getContext('2d');

    // const fromDate = document.getElementById("fromDate").value;
    const toDate = document.getElementById("toDate").value;

    // $('#fromDate').attr('value', fromDate);
    $('#toDate').attr('value', toDate);

    let monitoringCnt = [];
    let userIdList = [];
    let resultCnt = [];

    $.ajax({
      url: "/allTimeCntList",
      type: "get",
      dataType: "json",
      data: {
      //  fromDate: fromDate,
        toDate: toDate
      },
      success:function(data) {
        $('#myChart5').remove();
        $('#div_myAreaChart5').append('<canvas id="myChart5" ></canvas>');

        for(let i=0; i<data.length; i++) {
          monitoringCnt.push(data[i].monitoringCnt);
          userIdList.push(data[i].userId)
          resultCnt.push(data[i].resultCnt);
        }

        new Chart(document.getElementById('myChart5'),{
          type: 'bar',
          data: {
            labels:userIdList,
            datasets: [
              {
                label: '24시 모니터링 한 갯수',
                data: monitoringCnt,
                backgroundColor: 'rgba(255, 99, 132, 0.6)',
                borderColor: 'rgb(255, 99, 132)',
              },
              {
                label: '24시 모니터링 결과 갯수',
                data: resultCnt,
                backgroundColor: 'rgba(35, 192, 192, 0.6)',
                borderColor: 'rgb(35, 192, 192)',
                type: 'line',
              }
            ]
          }, options: {
            responsive: true,
            plugins: {
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: '24시 모니터링 그래프'
              }
            }
          }
        });
      }, error:function(){
        console.log("통신 실패")
      }
    })
  }

  /*
  function getBubble() {
    const exampleCtx = document.querySelector('#myChart6').getContext('2d');

    const bubbleChartExample = new Chart(exampleCtx, {
      type: 'bubble',
      data: {
        datasets: [{
          label: '여고딩',
          data: [
            {x:2,y:12,r:15}
          ],
          backgroundColor: 'rgba(255, 99, 132, 0.6)',
          borderColor: 'rgb(255, 99, 132)',
        },{
          label: '여중딩',
          data: [
            {x:1,y:3,r:15}
          ],
          backgroundColor: 'rgba(155, 99, 145, 0.6)',
          borderColor: 'rgb(155, 99, 145)',
        }]
      },options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Chart.js Bubble Chart'
          }
        }
      },
    });
  }
   */

  function getMonitoringList() {
    let monitoringStatusUserList = [];
    let monitoringStatusCntList = [];

    let deleteReqHistUserList = [];
    let deleteReqHistCntList = [];

    let deleteComptHistUserList = [];
    let deleteComptHistCntList = [];

    var userMonitoringHistList = document.getElementById('userMonitoringHistList').getElementsByTagName("tr");
    var userDeleteReqHistList = document.getElementById("userDeleteReqHistList").getElementsByTagName("tr");
    var userDeleteComptHistList = document.getElementById("userDeleteComptHistList").getElementsByTagName("tr");


    for(var i=1; i<userMonitoringHistList.length; i++) {
      var cells = userMonitoringHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data; // 날짜
      var cell_2 = cells[1].firstChild.data; // 카운트
      monitoringStatusUserList.push(cell_1);
      monitoringStatusCntList.push(cell_2);

      // totalDateList.push(cell_1);
    }

    for(var i=1; i<userDeleteReqHistList.length; i++) {
      var cells = userDeleteReqHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data;
      var cell_2 = cells[1].firstChild.data;
      deleteReqHistUserList.push(cell_1);
      deleteReqHistCntList.push(cell_2);
    }

    for(var i=1; i<userDeleteComptHistList.length; i++) {
      var cells = userDeleteComptHistList[i].getElementsByTagName("td");

      var cell_1 = cells[0].firstChild.data;
      var cell_2 = cells[1].firstChild.data;
      deleteComptHistUserList.push(cell_1);
      deleteComptHistCntList.push(cell_2);
    }

    const exampleCtx = document.querySelector('#myChart4').getContext('2d');
    const bubbleChartExample = new Chart(exampleCtx, {
      type: 'line',
      data: {
        labels: monitoringStatusUserList,
        datasets: [{
          label: '모니터링 한 갯수',
          data: monitoringStatusCntList,
          backgroundColor: 'rgba(255, 99, 132, 0.6)',
          borderColor: 'rgb(255, 99, 132)',
          borderWidth: 2
        },{
          label: '삭제 요청한 갯수',
          data: deleteReqHistCntList,
          backgroundColor: 'rgba(35, 192, 192, 0.6)',
          borderColor: 'rgb(35, 192, 192)',
          borderWidth: 2
        },{
          label: '삭제 완료된 갯수',
          data: deleteComptHistCntList,
          backgroundColor: 'rgba(55, 19, 192, 0.6)',
          borderColor: 'rgb(65, 19, 192)',
          borderWidth: 2
        }]
      },options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: '사용자별 모니터링 현황'
          }
        }
      },
    });
  }


  function pdfDown(){
    // document.getElementById('pdfDiv')
    // window.print();

/*
    $('.downBtn').hide();
    $('.title').hide();
    $('.connectForm').hide();
*/

    html2canvas($('body')[0], {
      allowTaint : true,	// cross-origin allow
      useCORS: true,		// CORS 사용한 서버로부터 이미지 로드할 것인지 여부
      scale : 2			// 기본 96dpi에서 해상도를 두 배로 증가

    }).then(function(canvas) {
      var imgData = canvas.toDataURL('image/png');

      var imgWidth = 190; // 이미지 가로 길이(mm) / A4 기준 210mm
      var pageHeight = imgWidth * 1.414;  // 출력 페이지 세로 길이 계산 A4 기준
      var imgHeight = canvas.height * imgWidth / canvas.width;
      var heightLeft = imgHeight;
      var margin = 10; // 출력 페이지 여백설정
      var doc = new jsPDF('p', 'mm');
      var position = 0;

      // 첫 페이지 출력
      doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
      heightLeft -= pageHeight;

      // 한 페이지 이상일 경우 루프 돌면서 출력
      while (heightLeft >= 20) {			// 35
        position = heightLeft - imgHeight;
        position = position - 20 ;		// -25

        doc.addPage();
        doc.addImage(imgData, 'PNG', margin, position, imgWidth, imgHeight);
        heightLeft -= pageHeight;
      }

      // 파일 저장
      doc.save('사용자별 현황.pdf');
/*
      $('.downBtn').show();
      $('.title').show();
      $('.connectForm').show();
*/

    });

  }


</script>

</body>
</html>