<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>디지털 성범죄</title>
  <link rel="stylesheet" href="/css/common.min.css?v=2023111401" />
  <link rel="stylesheet" href="/css/histroy.min.css?v=2023111401">
  <link rel="stylesheet" href="/css/trace.min.css?v=2023111401" />
  <link rel="stylesheet" href="/css/detail.min.css?v=2023111401" />
  <link rel="stylesheet" href="/css/dev.css" />

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/style.js"></script>
  <script src="/js/function.js"></script>
</head>

<style>
  .area_input{width:60px;margin-left: 4px;height:40px;    vertical-align: bottom;}

  #history .trace-history .history-list .area_box .all-time-btn{width:40px; margin-left: 4px;}

  .area_search_condition{
    display: none;
  }

  .condition_info{
    display: flex;
  }

  .condition_info > div{
    flex: 1;
  }

  .condition_info > div.area_img{
    display: flex;
    align-items: center;
    /*margin: auto;*/
  }

  .dels {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1px;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
  }

  .dels2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1px;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
  }
  /* 240202 */
    .section-keyword {
      width: 800px;
    }
    .keyword .keyword-wrap {
      padding: 15px 20px 25px;
      }
    .btn-look {
      padding: 2px 9px;
    }
    .condition-wrap {
      flex-direction: column;
      flex-wrap: nowrap !important;
    }
    .condition-wrap > div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .tit:not(.nations_span) {
      font-weight: bold;
      margin-right: 5px;
      margin-bottom: 15px;
      font-size: 18px;
    }
    .country-wrap div{
      display: flex;
      font-size: 18px;
    }
    .country-wrap div p+p{
      margin-left: 15px;
    }
    .country-wrap p+p {
      margin-left: 15px;
    }
    .condition-wrap .search-wrap {
      justify-content: space-between;
      margin-top: 30px;
      align-items: normal !important;
    }
    .search-wrap > div:not(.tit) {
      display: flex;
    }

  .search-wrap > div:not(.tit) > div{
    text-align: center;
  }
    .search-wrap > div:not(.tit) > div + div{
      margin-left: 20px;
    }
  #history .list-tit .gubun {
    width: 6.5%;
  }
  #history .list-tit .dist {
    width: 12.72%;
  }
  #history .dist {
    width: 11.52%;
    margin-right: 7px

  }
  #history .search-history .review {
    margin-right: 5px;
  }
  #history .trace-history .all-time {
    position: relative;
  }
  #history .trace-history .all-time .describe {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #194894;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
    color: #f2f2f8;
    margin-top: -2px;
    margin-left: 3px;
  }
  .tooltip {
    display: inline-block;
    color: #fff;
    background-color: #194894;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 100;
    width: 220px;
    padding: 3px 2px 4px;
    position: absolute;
    left: 0px;
    bottom: 20px;
    opacity: 0;
    transition: all 0.2s;
  }
  #history .trace-history .all-time:hover .tooltip {
    opacity: 1;
    bottom: 25px;
    transition: all 0.2s;

  }
  /* 240202 */
</style>

<body>
<article class="history-wrap wrapper" id="history">
  <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
  <h1 class="title bor10 btn-off"><span class="s-tit active">검색 이력</span><span class="t-tit">추적 이력</span> </h1>
  <!-- 검색 이력 -->
  <section class="search-history layout history active" style="width: 1445px;">
    <div class="searchbox">
      <form name="history-search" class="search-box" action="/history" id="searchForm">
        <input type="text" class="list-search bor10 btn-off" placeholder="검색어를 입력해 주세요" th:value="${searchKeyword}" name="searchKeyword" id="searchKeyword">
        <input type="hidden" name="searchPage" id="searchPage">
      </form>
      <form action="/searchHistory" method="get"> <!-- style="margin-right: 865px; font-weight: bold;" -->
        <button type="submit" style="margin-right: 1000px;" >
          <img src="/img/common/excelLogo.png">
        </button>
      </form>
      <p class="total-num">총 <span th:text="${searchInfoListCount}"></span>건</p>
    </div>
    <h2 class="list-tit" style="padding: 10px 20px 20px; width: 1460px;">
      <input type="checkbox" id="allCheckbox" onclick="allCheckboxBtn();">
      <span class="num" >순번</span>
      <span class="counselor">상담사</span>
      <span class="type">검색 유형</span>
      <span style = "width:5%">검색 조건</span>
      <span class="cont">내용</span>
      <span class="social">SNS</span>
      <span class="time">검색 일시</span>
      <span class="progress">검색 진행률</span>
      <span class="gubun">구분</span>
      <span class="dist"> 검색 결과 / 유사도</span>
      <button class="del-btn btn-off dels" onclick="checkTsiunos();"></button>
      <input type="hidden" id="tsiUnosValue" name="tsiUnosValue" value="">
      <!--<input type="button" class="del-btn btn-off dels" onclick="checkTsiunos();"></input>-->
    </h2>

    <ul class="history-list history-search-list">
      <li style="width: 1460px;" class="btn-off bor10" th:each="searchInfoList:${searchInfoList}">
        <input type="checkbox" id="tsiUnos" name="tsiUnos" th:value="${searchInfoList.getTsiUno()}">
        <!--        <div class="tsiUnoclass">
                <input type="hidden" id="tsiUno" name="tsiUno" th:value="${searchInfoList.getTsiUno()}">
                </div>-->
        <p class="num" th:text="${searchInfoList.getTsiUno()}"></p> <!-- 순번 -->
        <p class="counselor" th:text="${userIdMap.get(searchInfoList.getTsiUserUno())}">상담사 아이디</p>
        <p class="type" style="text-align: center">
          <th:block th:switch="${searchInfoList.getTsiType()}">
            <span th:case="${'11'}">키워드</span>
            <span th:case="${'13'}">키워드 + 사진</span>
            <span th:case="${'15'}">키워드 + 영상</span>
            <span th:case="${'17'}">사진</span>
            <span th:case="${'19'}">영상</span>
          </th:block>
        </p>
        <div style = "width:5%"><button type = "button" name = "btnShow" class = "btn-off btn-look">보기</button></div>
        <div class = "area_search_condition">
          <section class="keyword section-keyword serpServices counselor-add bor10">
            <h3 class="title">검색 조건</h3>
            <div class="keyword-box btn-on bor10 keyword-wrap" style="margin-top: 30px;">
              <div class="box_wrap condition_info condition-wrap">
                <div class="country-wrap">
                  <p class="tit">나라별</p>
                  <div>
                    <p th:if="${searchInfoList.getTsiIsNationKr() eq 1}">한국</p>
                    <p th:if="${searchInfoList.getTsiIsNationUs() eq 1}">미국</p>
                    <p th:if="${searchInfoList.getTsiIsNationCn() eq 1}">중국</p>
                    <p th:if="${searchInfoList.getTsiIsNationNl() eq 1}">네덜란드</p>
                    <p th:if="${searchInfoList.getTsiIsNationTh() eq 1}">태국</p>
                    <p th:if="${searchInfoList.getTsiIsNationRu() eq 1}">러시아</p>
                    <p th:if="${searchInfoList.getTsiIsNationVn() eq 1}">베트남</p>
                  </div>
                </div>

                <div class = "area_img search-wrap">
                  <div class="tit">서비스별</div>
                  <div>
                    <div th:if="${searchInfoList.getTsiIsEngineGoogle() eq 1}"><img src="/img/sns/google.png" alt=""> <p>google</p> </div>
                    <div th:if="${searchInfoList.getTsiIsEngineYoutube() eq 1}"><img src="/img/sns/youtube.png" alt=""> <p>youtube</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineGoogleReverseImage() eq 1}"><img src="/img/sns/google_reverse_image.png" alt=""> <p>googleReverseImage</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineGoogleLens() eq 1}"><img src="/img/sns/googleLens.png" alt=""> <p>google lens</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineBaidu() eq 1}"><img src="/img/sns/baidu.png" alt=""> <p>baidu</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineBing() eq 1}"><img src="/img/sns/bing.png" alt=""> <p>bing</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineDuckduckgo() eq 1}"><img src="/img/sns/duckduckgo.png" alt=""> <p>duckduckgo</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineYahoo() eq 1}"><img src="/img/sns/yahoo.png" alt=""> <p>yahoo</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineYandex() eq 1}"><img src="/img/sns/yandex.png" alt=""> <p>yandex</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineYandexImage() eq 1}"><img src="/img/sns/yandex_image.png" alt=""> <p>yandexImage</p></div>
                    <div th:if="${searchInfoList.getTsiIsEngineNaver() eq 1}"><img src="/img/sns/naver.png" alt=""> <p>naver</p></div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="esc-btn">닫기</button>
        </div>
        <div class="cont">
          <div class="img-box"> <!-- onclick="InfoList();" -->
            <div class="img" th:if="${searchInfoList.getTsiType() != '11'}">
              <button class="tsiUnoClass" id="tsiUno" name="tsiUno"  th:value="${searchInfoList.getTsiUno()}" onclick="InfoList(this);"><img th:if="${searchInfoList.getTsiType() != '15' && searchInfoList.getTsiType() != '19'}" th:src="'/imagePath'+${#strings.substring(searchInfoList.getTsiImgPath(),7)}+${searchInfoList.getTsiImgName()}" alt=""></button>
              <video th:if="${searchInfoList.getTsiType() == '15' || searchInfoList.getTsiType() == '19'}" th:src="'/imagePath'+${#strings.substring(searchInfoList.getTsiImgPath(),7)}+${searchInfoList.getTsiImgName()}" alt="" />
            </div>
          </div>
          <p class="con1">
            <span class="con1 text_escape" th:text="${searchInfoList.getTsiKeyword()}"></span>
          </p>
        </div>
        <p class="social">
          <img th:if="${searchInfoList.getTsiGoogle()}" src="/img/common/sns/google.png" alt="">
          <img th:if="${searchInfoList.getTsiFacebook()}" src="/img/common/sns/face.png" alt="">
          <img th:if="${searchInfoList.getTsiTwitter()}" src="/img/common/sns/twitter.png" alt="">
          <img th:if="${searchInfoList.getTsiInstagram()}" src="/img/common/sns/insta.png" alt="">
        </p>
        <p class="time" th:text="${#dates.format(searchInfoList.getTsiFstDmlDt(), 'yyyy.MM.dd &nbsp; HH:mm:ss')}"></p>
        <p class="dot-wrap progress">
          <input type="hidden" class="dot-tsi-uon" th:value="${searchInfoList.getTsiUno()}"></input>
          <input type="hidden" class="dot-tsi-date" th:value="${#dates.format(searchInfoList.getTsiFstDmlDt(), 'yyyy.MM.dd &nbsp; HH:mm:ss')}"></input>
          <span class="dot"></span>
          <span class="dot-per" th:text="${getProgressPercentMap.get(searchInfoList.getTsiUno()) == null ? '0%' : getProgressPercentMap.get(searchInfoList.getTsiUno())}"></span>
        </p>
        <button class="btn-off review gubun" th:onclick="|location.href='@{/result(tsiUno=${searchInfoList.getTsiUno()}, tsiKeyword=${searchInfoList.getTsiKeyword()}, keyword=)}'|">검색중</button>
        <p style="margin-right: 17px;" class = "dist"> 총 <span th:text="${searchInfoList.getResultCnt()}" />건,
          &nbsp; 유사도: <span th:text="${searchInfoList.getTmrSimilarityCnt()}" />건
        </p>
        <button class="del-btn btn-off del" th:value="${searchInfoList.getTsiUno()}">삭제</button>
      </li>
      <li th:if="${searchInfoListCount == 0}"><span style="width: 100%; text-align: center;">조회 결과가 없습니다.</span></li>
    </ul>
    <nav>
      <ul id="pagination" th:with="start=${(searchNumber / maxPage * maxPage) + 1}, end=(${(searchTotalPages == 0) ? 1 : ((start + maxPage - 1) < searchTotalPages ? (start + maxPage - 1) : searchTotalPages)})">
        <li class="page-num" th:if="${start > 1}"><a th:onclick="'javascript:searchEvent('+ ${1} + ');'" class="btn-off" style="width:30px;">처음</a></li>
        <li class="page-prev" th:if="${start > 1}"><a th:onclick="'javascript:searchEvent('+ ${start - maxPage} + ');'" class="btn-off">이전</a></li>
        <li class="page-num" th:each="pageNum : ${#numbers.sequence(start, end)}"><a th:onclick="'javascript:searchEvent('+ ${pageNum} + ');'" class="btn-off" th:classappend="${searchNumber + 1 == pageNum} ? 'active' : ''" th:text="${pageNum}"></a></li>
        <li class="page-next" th:if="${end < searchTotalPages}"><a th:onclick="'javascript:searchEvent('+ ${start + maxPage} + ');'" class="btn-off">다음</a></li>
        <li class="page-num" th:if="${end < searchTotalPages}"><a th:onclick="'javascript:searchEvent('+ ${searchTotalPages} + ');'" class="btn-off" style="width:30px;">끝</a></li>
      </ul>
    </nav>
  </section>


  <script>
    footer();
  </script>
</article>
<script th:inline="javascript">

  function InfoList(tsiUno){
    console.info(tsiUno);
    var xhr = new XMLHttpRequest();
    //요청을 보낼 방식, 주소, 비동기여부 설정
    xhr.open('GET', 'result-detail2?tsiUno=' + tsiUno.value, true);
    xhr.send(null);

    xhr.onload = () => {
      //통신 성공
      if (xhr.status == 200) {
        document.body.style.overflow = 'hidden';
        modal.style.display = 'block';
        modal.innerHTML = xhr.response;
        const esc = document.querySelector(".trace-detail .esc-btn");
        esc.onclick = () => {
          modal.style.display = 'none';
          document.body.style.overflow = 'unset';
        }
        const _CANVASBOX = document.querySelectorAll(`.preview-img `);
        //비디오 태그의 메타데이터가 들어오면
        _CANVASBOX.forEach(img => {
          let _VIDEO = img.querySelector('video');
          _VIDEO.addEventListener('loadedmetadata', function (e) {
            img.children[0].width = _VIDEO.videoWidth;
            img.children[0].height = _VIDEO.videoHeight;
            const time = Math.random() * _VIDEO.duration;
            _VIDEO.currentTime = time; //비디오의 영상길이 중 랜덤 타임을 뽑음
            img.children[1].getContext("2d").drawImage(_VIDEO, 0, 0, _VIDEO.videoWidth, _VIDEO.videoHeight);
            // 비디오 플레이
            const video = document.querySelectorAll(".img-box .video");
            if (video) {
              video.forEach(vid => {
                const btn = vid.querySelector('.play-btn');
                btn.onclick = () => {
                  vid.querySelector("video").play();
                  vid.querySelector("video").controls = true;
                  vid.querySelector(".play-wrap").style.display = 'none';
                }
              })
            }
          })
        })
      } else {
        //통신 실패
        console.log("통신 실패");
      }
    }
  }

  function allCheckboxBtn(){
    if($('#allCheckbox').prop("checked")) {
      $("input[type=checkbox]").prop("checked", true);
    } else {
      $("input[type=checkbox]").prop("checked", false);
    }
  }

  // function allCheckboxBtnTrace() {
  //   if($('#traceAllCheckbox').prop("checked")) {
  //     $("input[type=checkbox]").prop("checked", true);
  //   } else {
  //     $("input[type=checkbox]").prop("checked", false);
  //   }
  // }

  function checkTsiunos() {
    if(confirm("일괄 삭제하시겠습니까?")) {
      var obj = $("[name=tsiUnos]");

      var chkArray = new Array(); // 배열 선언

      $('input:checkbox[name=tsiUnos]:checked').each(function() {
        chkArray.push(this.value);
      });
      $('#tsiUnosValue').val(chkArray);

      const tsiUnosValue = document.getElementById('tsiUnosValue').value;

      if(tsiUnosValue === null || tsiUnosValue === ''){
        alert("삭제할 데이터를 선택해주세요.");
        return false;
      }

      // alert($('#tsiUnosValue').val());

      $.ajax({
        url: "/search/deleteTsiUnos",
        type: "get",
        data: {
          tsiUnosValue: $('#tsiUnosValue').val()
        },
        success:function(data) {
          alert("삭제가 완료되었습니다.");
          window.location.href="/history";
        }, error:function(){
          // alert("실패")
          console.log("통신 실패");
        }
      })
    }
  }

  /*
  // 이미지 클릭시 팝업창
  const searchImg = document.querySelector('.img');
  searchImg.addEventListener('click', function () {
    document.body.style.overflow = 'hidden';
    modal.style.display = 'block';
    modal.innerHTML = `<div class='modelImg'>
        ${this.children[0].outerHTML}
      <button class="escBtn">닫기</button>
        </div>`;
    if (modal.querySelector('video')) {
      modal.querySelector('video').controls = true;
    }
    // const esc = modal.querySelector(".esc-btn");
    const esc = modal.querySelector(".escBtn");
    esc.onclick = () => {
      modal.style.display = 'none';
      document.body.style.overflow = 'unset';
    }
  });
*/

  // 페이징 처리 시에 탭 전환 방지
  const sTit = document.querySelector('.s-tit');
  const tTit = document.querySelector('.t-tit');
  const searchhistory = document.querySelector('.search-history');
  // const tracehistory = document.querySelector('.trace-history');


  // const isTabType = /*[[${tabType}]]*/;
  // const isTabType = sessionStorage.getItem('tabType') != null ? sessionStorage.getItem('tabType') : 'search';
  //
  // console.log(isTabType);
  // if(isTabType !== 'search') {
  //   searchhistory.classList.remove('active');
  //   // tracehistory.classList.add('active');
  //   sTit.classList.remove('active');
  //   tTit.classList.add('active');
  // }

  // 히스토리 탭
  const hisTab = document.querySelectorAll('.title span');
  const his = document.querySelectorAll('.history');

  // hisTab.forEach((tab, idx) => {
  //   tab.onclick = (e) => {
  //     // console.log(e.target.innerHTML);
  //     if(e.target.className.substring(0,5) === 's-tit') {
  //       sessionStorage.setItem('tabType', 'search');
  //     } else {
  //       sessionStorage.setItem('tabType', 'trace');
  //     }
  //     getSiblings(e.target).forEach(t => {
  //       t.classList.remove('active');
  //     });
  //     his.forEach(gr => {
  //       gr.classList.remove('active');
  //     })
  //     e.target.classList.add('active');
  //     his[idx].classList.add('active');
  //   }
  // })

  // const searchType = document.querySelector(".selection.selectBox");
  const option2 = document.querySelectorAll(".option.select li");
  const tType2 = document.querySelector('input[name=manageType]');
  const search = document.querySelector(".list-search");

  // searchType.addEventListener("click", (e)=>{
  //   searchType.classList.toggle('active');
  //   option2.forEach(btn => {
  //     btn.addEventListener('click', (e)=>{
  //       searchType.children[0].innerHTML = e.target.innerText;
  //       tType2.value = e.target.innerText;
  //     })
  //   })
  // })

  // 셀렉트 구현
  // const select = document.querySelectorAll(".selection.setTraceHistory");
  // select.forEach(sel => {
  //   sel.addEventListener("click", (e) => {
  //     sel.classList.toggle('active');
  //     const option = sel.querySelectorAll(".option li");
  //     option.forEach(btn => {
  //       btn.addEventListener('click', (e) => {
  //         let val = e.target.innerText;
  //         sel.children[0].innerHTML = val;
  //         sel.children[0].style.color = e.target.style.color;
  //
  //         //XMLHttpRequest 객체 생성
  //         var xhr = new XMLHttpRequest();
  //         //요청을 보낼 방식, 주소, 비동기여부 설정
  //         xhr.open('GET', '/search/setTrkStatCd?tsrUno='+sel.dataset.uno+'&trkStatCd='+e.target.dataset.cd, true);
  //         //요청 전송
  //         xhr.send(null);
  //         //통신후 작업
  //         xhr.onload = () => {
  //           if (xhr.status === 200) {  //통신 성공
  //             console.log("통신 성공");
  //           } else {  //통신 실패
  //             console.log("통신 실패");
  //           }
  //         }
  //       })
  //     });
  //   });
  // })

  const searchForm = document.querySelector("#searchForm");
  const searchPage = document.querySelector("#searchPage");
  const searchEvent = (pageNum) => {
    searchPage.value = pageNum;
    searchForm.submit();
  }

  // const traceForm = document.querySelector("#traceForm");
  // const tracePage = document.querySelector("#tracePage");
  //
  // const traceEvent = (pageNum) => {
  //   tracePage.value = pageNum;
  //   traceForm.submit();
  // }

  //검색이력 내용 넓이
  // const context = document.querySelectorAll(".history-search-list .cont");
  // context.forEach(con => {
  //   if (con.querySelector('.con2').innerHTML === '') {
  //     con.querySelector('.con2').style.display = 'none';
  //     con.querySelector('.con1').style.maxWidth = '100%';
  //   }
  // })

  // 검색 진행률
  const progress = document.querySelectorAll(".dot-wrap.progress");
  progress.forEach(pro => {
    const per = pro.querySelector(".dot-per");
    const loading = pro.querySelector(".dot");
    const dotTsiUno = pro.querySelector(".dot-tsi-uon").value;
    const dotTsiDate = pro.querySelector(".dot-tsi-date").value;

    var tsi_uno_count = true;

    var today = new Date();

    var year = today.getFullYear();
    var month = ('0' + (today.getMonth() + 1)).slice(-2);
    var day = ('0' + today.getDate()).slice(-2);
    var hours = ('0' + today.getHours()).slice(-2);
    var minutes = ('0' + today.getMinutes()).slice(-2);
    var seconds = ('0' + today.getSeconds()).slice(-2);
    var dateString = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds;
    const dateA = new Date(dateString);
    const dateB = new Date(dotTsiDate);
    const diffMSec = dateA.getTime() - dateB.getTime();
    const diffMin = diffMSec / (60 * 1000);

    //XMLHttpRequest 객체 생성
    var req = new Req();
    //요청을 보낼 방식, 주소, 비동기여부 설정
    req.url = '/history_tsi_uno_count';
    req.data = { tsi_uno: dotTsiUno }
    const result = req.async();
    // console.info(result);
    if(!result) {
      tsi_uno_count = false;
    }
    //console.info(diffMin+'/diffMin');
    if(diffMin>=1){
      loading.style.display = 'none';
      per.style.fontSize = '1rem';
      per.style.cssText = "font-size:1rem; color:#545759;";
      per.innerText = "100%";
      pro.nextElementSibling.innerHTML = "검색결과";
      pro.nextElementSibling.style.color = "#e87728";
      //console.info(tsi_uno_count);
      //console.info(per.innerText);
    }
  })

  function Req() {
    this.url = undefined
    this.data = {}
    this.method = "POSt"
    this.responseType = "json"
    this.requestHeader = "application/x-www-form-urlencoded"
    this.request = new XMLHttpRequest()
    this.getQueryString = () => {
      return Object.entries(this.data).map(e => e.join('=')).join('&')
    }
    this.async = () => {
      if(!this.request) {
        console.error("Can't make request.")
        return false
      }

      this.request.open(this.method, this.url, false)
      this.request.setRequestHeader("Content-Type", this.requestHeader)

      let result = undefined
      this.request.addEventListener("readystatechange", function (event) {
        const { target } = event;
        if (target.readyState === XMLHttpRequest.DONE) {
          const { status } = target;
          if (status === 0 || (status >= 200 && status < 400)) {
            result = target.response
          }
        }
      })
      this.request.send(this.getQueryString())
      return JSON.parse(result)
    }
  }

  // 검색 이력 삭제
  const delBtn = document.querySelectorAll(".del");
  delBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      if((confirm("삭제하시겠습니까?"))) {
        //XMLHttpRequest 객체 생성
        var xhr = new XMLHttpRequest();

        //요청을 보낼 방식, 주소, 비동기여부 설정
        xhr.open('GET', '/search/deleteSearchInfo?tsiUno='+btn.value, true);
        //요청 전송
        xhr.send(null);
        //통신후 작업
        xhr.onload = () => {
          if (xhr.status === 200) {  //통신 성공
            console.log("통신 성공");
            window.location.href="/history"
          } else {  //통신 실패
            console.log("통신 실패");
          }
        }
      }
    })
  });

  // // 추적 이력 메모
  // const trkHistMemo = document.querySelectorAll(".memo");
  // trkHistMemo.forEach((memo) => {
  //   memo.addEventListener('focusout', () => {
  //     //XMLHttpRequest 객체 생성
  //     var xhr = new XMLHttpRequest();
  //     //요청을 보낼 방식, 주소, 비동기여부 설정
  //     xhr.open('GET', '/search/setTrkHistMemo?tsrUno='+memo.dataset.uno+'&memo='+memo.value, true);
  //     //요청 전송
  //     xhr.send(null);
  //     //통신후 작업
  //     xhr.onload = () => {
  //       if (xhr.status === 200) {  //통신 성공
  //         console.log("통신 성공");
  //       } else {  //통신 실패
  //         console.log("통신 실패");
  //       }
  //     }
  //   })
  // });

  // 2차 검증 버튼
  // const chkBtn = document.querySelectorAll(".btn-off.double-chk")
  // chkBtn.forEach((btn) => {
  //    btn.addEventListener('click', () => {
  //         window.open(btn.value, '_blank');
  //    })
  // });
  /*]]>*/

  // const chkBtn = document.querySelectorAll(".btn-off.double-chk")
  // chkBtn.forEach((btn) => {
  //   btn.addEventListener('click', () => {
  //     if(btn.getAttribute("tsiUno")) {
  //       let url = '/notice?tsiUno=' + btn.getAttribute("tsiUno");
  //       // window.location.href = '/notice?tsrUno=' + btn.value + '&keyword=' + btn.getAttribute("keyword") + '&tsiuno=' + btn.getAttribute("tsiuno");
  //       if(btn.getAttribute("tsiKeyword") !== null){
  //         url += '&tsiKeyword=' + btn.getAttribute("tsiKeyword");
  //       }
  //       window.location.href = url;
  //     }else{
  //       alert('조회대상이 없습니다.');
  //     }
  //   })
  // });

  /*
  const chkBtn = document.querySelectorAll(".btn-off.double-chk")
  chkBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      if(btn.getAttribute("tsiuno")) {
        // window.location.href = '/notice?tsrUno=' + btn.value + '&keyword=' + btn.getAttribute("keyword") + '&tsiuno=' + btn.getAttribute("tsiuno");
        window.location.href = '/notice?'+'&keyword=' + btn.getAttribute("keyword") + '&tsiuno=' + btn.getAttribute("tsiuno");
      }else{
        alert('조회대상이 없습니다.');
      }
    })
  });
  */

  // 대상 디테일
  const imgBtn = document.querySelectorAll(".img-box");
  // const tsiUnoClass = document.querySelectorAll(".history-search-list");
  // const modal = document.querySelector("#modal");

  /*
  tsiUnoClass.forEach((btn)=> {
    const tsiUno = btn.querySelector("#tsiUno");
    btn.addEventListener('click', () => {
      alert("tsiUno 임" + tsiUno)
      xhr.open('GET', 'result-detail?tsrUno=' + tsiUno.value, true);
    })

  })
  */

  // imgBtn.forEach((btn) => {
  //   const tsrUno = btn.querySelector("#tsrUno");
  //
  //   btn.addEventListener('click', () => {
  //     //XMLHttpRequest 객체 생성
  //     var xhr = new XMLHttpRequest();
  //     //요청을 보낼 방식, 주소, 비동기여부 설정
  //     xhr.open('GET', 'trace-detail?tsrUno='+tsrUno.value, true);
  //     //요청 전송
  //     xhr.send(null);
  //     //통신후 작업
  //     xhr.onload = () => {
  //       //통신 성공
  //       if (xhr.status == 200) {
  //         document.body.style.overflow = 'hidden';
  //         modal.style.display = 'block';
  //         modal.innerHTML = xhr.response;
  //         const esc = document.querySelector(".trace-detail .esc-btn");
  //         esc.onclick = () => {
  //           modal.style.display = 'none';
  //           document.body.style.overflow = 'unset';
  //         }
  //         const _CANVASBOX = document.querySelectorAll(`.preview-img `);
  //         //비디오 태그의 메타데이터가 들어오면
  //         _CANVASBOX.forEach(img => {
  //           let _VIDEO = img.querySelector('video');
  //           _VIDEO.addEventListener('loadedmetadata', function (e) {
  //             img.children[0].width = _VIDEO.videoWidth;
  //             img.children[0].height = _VIDEO.videoHeight;
  //             const time = Math.random() * _VIDEO.duration;
  //             _VIDEO.currentTime = time; //비디오의 영상길이 중 랜덤 타임을 뽑음
  //             img.children[1].getContext("2d").drawImage(_VIDEO, 0, 0, _VIDEO.videoWidth, _VIDEO.videoHeight);
  //             // 비디오 플레이
  //             const video = document.querySelectorAll(".img-box .video");
  //             if (video) {
  //               video.forEach(vid => {
  //                 const btn = vid.querySelector('.play-btn');
  //                 btn.onclick = () => {
  //                   vid.querySelector("video").play();
  //                   vid.querySelector("video").controls = true;
  //                   vid.querySelector(".play-wrap").style.display = 'none';
  //                 }
  //               })
  //             }
  //           })
  //         })
  //       } else {
  //         console.log("통신 실패");
  //       }
  //     }
  //   })
  // });

  // 24시간 모니터링 버튼 활성화
  // const allTime = document.querySelectorAll(".all-time");
  // for (let i = 0; i < allTime.length; i++) {
  //   allTime[i].addEventListener('click', function () {
  //     var inputValue = this.parentElement.querySelector('.area_input').value;
  //
  //     if(! (6 <= inputValue && inputValue <= 720)){
  //       alert("최소 6시간 최대 720까지 설정 가능합니다.");
  //       return false;
  //     }
  //
  //     this.disabled = true;
  //     //XMLHttpRequest 객체 생성
  //     var xhr = new XMLHttpRequest();
  //     //요청을 보낼 방식, 주소, 비동기여부 설정
  //     xhr.open('GET', 'search/monitoring/'+this.value+"/"+inputValue, true);
  //     //요청 전송
  //     xhr.send(null);
  //     //통신후 작업
  //     xhr.onload = () => {
  //       if (xhr.status === 200) {   //통신 성공
  //         this.classList.toggle('active');
  //         location.reload();
  //       } else {
  //         console.log('통신 실패')
  //       }
  //       this.disabled = false;
  //     }
  //   })
  // }

  // 추적이력 삭제 단건
  // function traceDelete(){
  //   const delBtn = document.getElementById('traceTsrUno');
  //   // alert(delBtn.value);
  //   if((confirm("삭제하시겠습니까?"))) {
  //     $.ajax({
  //       url: "/deleteTsrUno",
  //       type: "post",
  //       data: {
  //         tsrUno: delBtn.value
  //       },
  //       success:function(data) {
  //         alert("삭제가 완료되었습니다.");
  //         window.location.href="/history";
  //       }, error:function(){
  //         console.log("통신 실패");
  //       }
  //     })
  //   }
  // }

  // 추적이력 삭제 다건
  // function deleteTsrunos(){
  //   if((confirm("일괄 삭제 하시겠습니까?"))){
  //     var obj = $("[name=tsrUnos]");
  //
  //     var chkArray = new Array(); // 배열 선언
  //
  //     $('input:checkbox[name=tsrUnos]:checked').each(function() {
  //       chkArray.push(this.value);
  //     });
  //
  //     $('#tsrUnoValues').val(chkArray);
  //
  //     const tsrUnoValues = document.getElementById('tsrUnoValues').value;
  //
  //     if(tsrUnoValues === null || tsrUnoValues === "") {
  //       alert("삭제할 데이터를 선택해주세요.");
  //       return false;
  //     }
  //
  //     $.ajax({
  //       url: "/deleteTsrUnos",
  //       type: "get",
  //       data: {
  //         tsrUnoValues: $('#tsrUnoValues').val()
  //       },
  //       success:function(data) {
  //         alert("삭제가 완료되었습니다.");
  //         window.location.href="/history";
  //       }, error:function(){
  //         console.log("통신 실패");
  //       }
  //     })
  //   }
  // }

  function traceList(){
    window.location.href = "/history";
  }
  function monitoringList(){
    document.getElementById('traceHistoryValue').value = '10';
    const traceHistoryValue = document.getElementById('traceHistoryValue').value;
      $.ajax({
        url: "/history",
        type: "get",
        data: {
          traceHistoryValue: traceHistoryValue
        },
        success:function(data) {

        }, error:function(){
          console.log("통신 실패");
        }
      })
  }


  $(function(){
    $(".area_search_condition").hide();

    $("button[name='btnShow']").on("click", function(){
        document.body.style.overflow = 'hidden';
        modal.style.display = 'flex';
        modal.innerHTML = $(this).parent().parent().find(".area_search_condition").html();

      $("#modal .esc-btn").on("click", function(){
        modal.style.display = 'none';
        document.body.style.overflow = 'unset';
      });
    });

    $(".t-tit").on("click", function(){
      location.href = "/trace/history";
    });
  });

</script>
</body>

</html>
