<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>디지털 성범죄</title>
  <link rel="stylesheet" href="/css/common.min.css" />
  <link rel="stylesheet" href="/css/main.min.css" />
  <!--  <script src="./js/header.js"></script>-->
  <script src="/js/footer.js"></script>
  <script src="/js/style.js"></script>
</head>
<script>

</script>

<body>
<article class="main-wrap wrapper">
  <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
  <section class="search layout">
    <h1 id="logo">
      <img src="/img/common/logo2.png" alt="서울디지털성범죄 안심지원센터">
      <img src="/img/common/logo.png" alt="서울기술 연구원 로고">
    </h1>
    <form name="search" action="./search" method="POST" enctype="multipart/form-data" onsubmit="return goresult()">
      <div class="sns-check">
        <input type="checkbox" id="google" name="tsiGoogle" checked>
        <label class="btn-off bor10" for="google" tooltip="구글" flow="up">구글</label>
        <input type="checkbox" id="twitter" name="tsiTwitter" checked>
        <label class="btn-off bor10" for="twitter" tooltip="트위터" flow="up">트위터</label>
        <input type="checkbox" id="instar" name="tsiInstagram" checked>
        <label class="btn-off bor10" for="instar" tooltip="인스타" flow="up">인스타</label>
        <input type="checkbox" id="facebook" value="facebook" name="tsiFacebook" checked>
        <label class="btn-off bor10" for="facebook" tooltip="페이스북" flow="up">페이스북</label>
        <div class="sns-check">
        </div>
      </div>
      <div class="search-bar bor10">
        <input type="text" placeholder="검색어를 입력하세요" id="search-text" name="tsiKeyword">
        <input type="hidden" id="search-text-hidden" name="tsiKeywordHiddenValue">
        <button type="button" class="btn-off img-btn" tooltip="Search by image or audio/video">이미지로 검색</button>
        <div class="img-search bor10">
          <button type="button" class="esc">닫기</button>
          <label for="file" class="file-drop bor10">
            <p class="event"><span>Click</span> and <span>Drop</span> </p>
            <p class="img-type">Your <span>Image</span> or <span>Audio</span> or <span>Video</span> here. </p>
          </label>
          <input type="file" id="file" name="file" onchange="fileChange(this)">
          <div class="file-box">
            <input class="file-name " value="" placeholder="첨부 파일" readonly>
            <button class="file-btn btn-off">검색</button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <div class="bottom layout">
    <section class="target L-box-up bor10">
      <h2 class="title">추적대상 <a href="/trace" class="btn-off">추적대상 바로가기</a></h2>
      <div class="target-card">
        <section th:each="list:${traceInfoList}"><a href="/trace">
          <th:block th:switch="${list.getTsjStatus()}"><h3 class="unity" th:case="10">대기중</h3><h3 class="unity" th:case="01">처리중</h3><h3 class="unity" th:case="10">SKIP</h3><h3 class="unity" th:case="11" th:text="${#strings.concat(list.getTmrSimilarity(), '%')}">99%</h3></th:block>
          <!--            <th:block th:switch="${list.getTsjStatus()}"><h3 class="unity" th:case="10">대기중</h3><h3 class="unity" th:case="01">처리중</h3><h3 class="unity" th:case="10">SKIP</h3><h3 class="unity" th:case="11" th:text="${#strings.concat(#strings.substringBefore(list.getTmrSimilarity(),'.'),'%')}">99%</h3></th:block>-->
          <!--            <h3 class="unity" th:text="${#strings.concat(#strings.substringBefore(list.getTmrSimilarity(),'.'),'%')}">99%</h3>-->
          <div class="img-box">
            <div class='img'>
              <img th:if="${not #strings.isEmpty(list.getTsrImgPath())}" th:src="${'/imagePath'+#strings.substring(list.getTsrImgPath(),7)+list.getTsrImgName()}" alt="">
            </div>
            <th:block th:switch="${list.getTsrSns()}">
              <img th:case="11" src="/img/common/sns/google-round.png" alt="" class="sns">
              <img th:case="13" src="/img/common/sns/twitter-round.png" alt="" class="sns">
              <img th:case="15" src="/img/common/sns/insta-round.png" alt="" class="sns">
              <img th:case="17" src="/img/common/sns/facebook-round.png" alt="" class="sns">
            </th:block>
          </div>
          <p class="url" th:text="${list.getTsrDownloadUrl()}">url이 들어갑니다</p>
          <p class="content" th:text="${list.getTsrTitle()}">내용이 들어갑니다 내용이 들어갑니다</p>

          <p class="detail">
            <span th:if="${list.getTsrImgExt()} != null and ${list.getTsrImgExt()} != ''" th:text="${#strings.concat(list.getTsrImgExt(),' /')}" ></span>
            <span th:if="${list.getTsrImgSize()} != null and ${list.getTsrImgSize()} != ''" th:text="${#strings.concat(list.getTsrImgSize())} +'KB'" ></span>
            <span th:if="${list.getTsrImgExt()} == null and ${list.getTsrImgSize()} == null" >파일 정보가 없습니다.</span>
            <span th:if="${list.getTsrImgExt()} == '' and ${list.getTsrImgSize()} == ''" >파일 정보가 없습니다.</span>
            <span th:if="${list.getTsrImgExt()} == '' and ${list.getTsrImgSize()} == null" >파일 정보가 없습니다.</span>
            <span th:if="${list.getTsrImgExt()} == null and ${list.getTsrImgSize()} == ''" >파일 정보가 없습니다.</span>
          </p>

          <!--<p class="detail"><span th:text="${list.getTsrImgExt()}">MP4</span> / <span th:text="${list.getTsrImgSize()}+'KB'">1000KB</span> </p>-->
        </a>
        </section>
      </div>
    </section>
    <section class="notice L-box-up bor10">
      <h2 class="title">재확산 자동추적 <a href="/notice" class="btn-off" style="width: 165px;">재확산 자동추적 바로가기</a></h2>
      <p th:each="traceInfoListData : ${traceInfoList}" th:text="${traceInfoListData.tsrTitle}"></p>
    </section>
  </div>

  <script>footer();</script>
</article>

<script>


  // 추적대상
  // const list = document.querySelector(".target-card");
  // for (let i = 0; i < 4; i++) {
  //   if (i < 2) {
  //     list.innerHTML += `
  //       <section>
  //         <h3 class="unity">99%</h3>
  //         <div class="img-box">
  //           <div class='img'>
  //             <img src="./img/replace/man.png" alt="">
  //           </div>
  //           <img src="./img/common/sns/facebook-round.png" alt="" class="sns">
  //         </div>
  //         <p class="url">URL이 들어갑니다 URL이 들어갑니다</p>
  //         <p class="content">내용이 들어갑니다 내용이 들어갑니다</p>
  //         <p class="detail">MP4 / 1000KB </p>
  //       </section>
  //       <section>
  //         <h3 class="unity">99%</h3>
  //         <div class="img-box">
  //           <div class="video">
  //             <video src="./img/replace/replacevideo.mp4"  loading="lazy" ></video>
  //             <div class="play-wrap">
  //               <div class="play-btn"></div>
  //             </div>
  //           </div>
  //           <img src="./img/common/sns/insta-round.png" alt="" class="sns">
  //         </div>
  //         <p class="url">URL이 들어갑니다 URL이 들어갑니다</p>
  //         <p class="content">내용이 들어갑니다 내용이 들어갑니다</p>
  //         <p class="detail">MP4 / 1000KB </p>
  //       </section>
  //   `
  //   }
  // }
  const goresult = () => {
   // window.location.href="/history";
    /*
    if(document.getElementById('google').checked){
      if(document.getElementById('search-text').value == "" && document.getElementById('file').value == ""){
        alert("검색어를 입력하세요.");
      } else {
        return true;
      }
    } else {
      alert("현재는 구글 검색만 지원합니다.");
    }
     */

    //2023-03-20
    //트위터 제외 검색 가능 하도록
    if (document.getElementById('google').checked || document.getElementById('instar').checked || document.getElementById('facebook').checked) {
      if (document.getElementById('search-text').value == "" && document.getElementById('file').value == "") {
        alert("검색어를 입력하세요.");
      } else {

        var search_text = document.getElementById('search-text').value;

        var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi;

        if(regExp.test(search_text)){
          search_text = search_text.replace(regExp, ""); // 찾은 특수 문자를 제거
          document.getElementById('search-text-hidden').value= search_text;
        }else{
          document.getElementById('search-text-hidden').value= search_text;
        }

        return true;
      }
    }
    else {
      alert("구글, 인스타, 페이스북 검색만 지원합니다.");
    }

    // console.log(document.getElementById('google').checked);
    // console.log(document.getElementById('twitter').checked);
    // console.log(document.getElementById('instar').checked);
    // console.log(document.getElementById('facebook').checked);
    return false;
  }

  // sns체크
  const snsChk = document.querySelectorAll(".sns-check input");
  snsChk.forEach(e => {
    if (e.checked) {
      e.value = 1;
    } else {
      e.value = 0;
    }
    e.addEventListener('change', e => {
      if (e.target.checked) {
        e.target.value = 1;
      } else {
        e.target.value = 0;
      }
    })
  })
  // 이미지 버튼
  const imgBtn = document.querySelector(".img-btn");
  imgBtn.addEventListener("click", () => {
    document.querySelector(".img-search").style.display = "block";
  });
  const imgEsc = document.querySelector(".img-search .esc");
  imgEsc.onclick = () => {
    document.querySelector(".img-search").style.display = "none";
  }
  // 이미지 드롭
  const dropImg = document.querySelector(".file-drop");
  dropImg.ondragover = (e) => {
    e.preventDefault();
  }
  dropImg.addEventListener('drop', function (event) {
    event.preventDefault();
    fileChange(event.dataTransfer);
  });
  // 이미지 업로드
  function fileChange(file) {
    const fileUp = document.querySelector("#file");
    fileUp.files = file.files;
    document.querySelector(".file-name").value = file.files[0].name;
  }

</script>
</body>

</html>