<section class="keyword counselor-add bor10">
  <h3 class="title">신조어 키워드 분석</h3>
  <form action="javascript://" name="keyword" onsubmit="autoTrace(this);">
    <input type="text" class="keyword-add bor10 btn-off" placeholder="키워드를 입력해 주세요">
    <button class="bor10 btn-off">추가</button>
  </form>
  <div class="keyword-box btn-on bor10">
    <div>
      <p class="word-list" th:each="autoKeyword_list : ${autoKeyword_list}">
        <b th:text="${autoKeyword_list.getAuto_keyword()}"></b>
        <span type="button" class="delete" th:field="*{autoKeyword_list.getAuto_keyword()}" onclick='aTDelete(this)'>삭제</span>
      </p>
<!--      <p class="word-list">여고생<span type="button" class="delete" onclick='aTDelete(this)'>삭제</span></p>-->
<!--      <p class="word-list">ㄱㄷ<span type="button" class="delete" onclick='aTDelete(this)'>삭제</span></p>-->
<!--      <p class="word-list">성인사이트<span type="button" class="delete" onclick='aTDelete(this)'>삭제</span></p>-->
    </div>
  </div>
  <h3 class="title neologism-title">키워드 검색순위</h3>
  <section class="neologism bor10 btn-off">
    <h4 class="tit">
      <span class="num">순번</span>
      <span class="word">단어</span>
      <span class="count">검색량(건)</span>
    </h4>
    <div class="bor10 M-box-in list-con">
      <div>
        <p>
          <span class="num">1</span>
          <span class="word">(여)초딩(년)</span>
          <span class="count">1,310,210건</span>
        </p>
        <p>
          <span class="num">2</span>
          <span class="word">(여)중딩(년)</span>
          <span class="count">1,113,510건</span>
        </p>
        <p>
          <span class="num">3</span>
          <span class="word">(여)고딩(년)</span>
          <span class="count">1,100,787건</span>
        </p>
        <p>
          <span class="num">4</span>
          <span class="word">밝기조절</span>
          <span class="count">987,765건</span>
        </p>
        <p>
          <span class="num">5</span>
          <span class="word">은꼴</span>
          <span class="count">955,175건</span>
        </p>
        <p>
          <span class="num">6</span>
          <span class="word">여친공유</span>
          <span class="count">940,312건</span>
        </p>
        <p>
          <span class="num">7</span>
          <span class="word">로리</span>
          <span class="count">850,157건</span>
        </p>
        <p>
          <span class="num">8</span>
          <span class="word">노예(년)</span>
          <span class="count">840,647건</span>
        </p>
        <p>
          <span class="num">9</span>
          <span class="word">나이(10+n)</span>
          <span class="count">703,232건</span>
        </p>
        <p>
          <span class="num">10</span>
          <span class="word">(지인)제보</span>
          <span class="count">654,433건</span>
        </p>
        <p>
          <span class="num">11</span>
          <span class="word">몸싸</span>
          <span class="count">610,475건</span>
        </p>
        <p>
          <span class="num">12</span>
          <span class="word">문상</span>
          <span class="count">590,754건</span>
        </p>
        <p>
          <span class="num">13</span>
          <span class="word">미자(미성년자)</span>
          <span class="count">554,476건</span>
        </p>
        <p>
          <span class="num">14</span>
          <span class="word">딸감</span>
          <span class="count">511,654건</span>
        </p>
        <p>
          <span class="num">15</span>
          <span class="word">걸레</span>
          <span class="count">498,744건</span>
        </p>
        <p>
          <span class="num">16</span>
          <span class="word">(지인)합성</span>
          <span class="count">490,997건</span>
        </p>
        <p>
          <span class="num">17</span>
          <span class="word">정액받이</span>
          <span class="count">450,475건</span>
        </p>
        <p>
          <span class="num">18</span>
          <span class="word">자영</span>
          <span class="count">442,247건</span>
        </p>
        <p>
          <span class="num">19</span>
          <span class="word">고등어(ㄱㄷ)</span>
          <span class="count">405,423건</span>
        </p>
        <p>
          <span class="num">20</span>
          <span class="word">아자르</span>
          <span class="count">378,787건</span>
        </p>
        <p>
          <span class="num">21</span>
          <span class="word">개보지</span>
          <span class="count">355,447건</span>
        </p>
        <p>
          <span class="num">22</span>
          <span class="word">(지인)능욕</span>
          <span class="count">304,765건</span>
        </p>
        <p>
          <span class="num">23</span>
          <span class="word">암캐</span>
          <span class="count">295,554건</span>
        </p>
        <p>
          <span class="num">24</span>
          <span class="word">돌림빵</span>
          <span class="count">254,432건</span>
        </p>
        <p>
          <span class="num">25</span>
          <span class="word">변녀</span>
          <span class="count">197,447건</span>
        </p>
        <p>
          <span class="num">26</span>
          <span class="word">아헤가오</span>
          <span class="count">150,465건</span>
        </p>
        <p>
          <span class="num">27</span>
          <span class="word">창녀</span>
          <span class="count">181,654건</span>
        </p>
        <p>
          <span class="num">28</span>
          <span class="word">아다</span>
          <span class="count">150,114건</span>
        </p>
        <p>
          <span class="num">29</span>
          <span class="word">발정</span>
          <span class="count">120,413건</span>
        </p>
        <p>
          <span class="num">30</span>
          <span class="word">딥페</span>
          <span class="count">98,471건</span>
        </p>
      </div>
    </div>
  </section>
  <button type="button" class="esc-btn">닫기</button>
</section>