<section class="keyword counselor-add bor10">
  <h3 class="title">신조어 키워드 분석</h3>

  <form name="keyword">
    <input type="text" id="newKeyword" class="keyword-add bor10 btn-off" placeholder="키워드를 입력해 주세요">
    <button type="button" class="bor10 btn-off keyword-add-btn">추가</button>
  </form>

  <div class="keyword-box btn-on bor10">
    <div>
      <p th:each="list:${newKeywordList}" class="word-list">
        <input class="keyword-value" name="newKeyword" style="background-color: #dfe0e9; filter: blur(5px);" th:value="${list.getKeyword()}" readonly >
        <button th:value="${list.getIdx()}" class="del-btn btn-off keyword_del" ></button>
      </p>
    </div>

  </div>

  <div>
    <form name="">
      <input class="keywordHidden" type="text" id="newKeywordValue" name="newKeywordValue" value="">
      <button style="float: right; margin-top: -30px; border-radius: 10px;" class="new-keyword searchKeyword" type="button">검색</button>
    </form>
  </div>
  <button type="button" class="esc-btn">닫기</button>

</section>
