<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common.min.css">
  <link rel="stylesheet" href="/css/dev.css" />
</head>
<body>
  <div class="modal-bg">
    <div class="loading bor10">
      <div class="loading-img">
        <img src="./img/common/loading01.png" alt="" class="loading01">
        <img src="./img/common/loading02.png" alt="" class="loading02">
      </div>
      <p>Loading ...</p>
    </div>
  </div>
  
</body>
</html>