<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>디지털 성범죄</title>
  <link rel="stylesheet" href="/css/common.min.css?v=2023111401" />
  <link rel="stylesheet" href="/css/histroy.min.css?v=2023111401">
  <link rel="stylesheet" href="/css/trace.min.css?v=2023111401" />
  <link rel="stylesheet" href="/css/detail.min.css?v=2023111401" />
  <script src="/js/style.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/function.js"></script>
</head>

<style>
  .dels {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1px;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
  }

  .dels2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1px;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
  }

</style>

<body>
<article class="history-wrap wrapper" id="history">
  <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
  <h1 class="title bor10 btn-off"><span class="s-tit active">검색 이력</span><span class="t-tit" id="trace-tit">추적 이력</span> </h1>
  <!-- 검색 이력 -->
  <section class="search-history layout history active" style="width: 1445px;">
    <div class="searchbox">
      <form name="history-search" class="search-box" action="/history" id="searchForm">
        <input type="text" class="list-search bor10 btn-off" placeholder="검색어를 입력해 주세요" th:value="${searchKeyword}" name="searchKeyword" id="searchKeyword">
        <input type="hidden" name="searchPage" id="searchPage">
      </form>
      <form action="/searchHistory" method="get"> <!-- style="margin-right: 865px; font-weight: bold;" -->
        <button type="submit" style="margin-right: 865px;" >
          <img src="/img/common/excelLogo.png">
        </button>
      </form>
      <p class="total-num">총 <span th:text="${searchInfoListCount}"></span>건</p>
    </div>
    <h2 class="list-tit" style="padding: 10px 20px 20px; width: 1460px;">
      <input type="checkbox" id="allCheckbox" onclick="allCheckboxBtn();">
      <span class="num" >순번</span>
      <span class="counselor">상담사</span>
      <span class="type">검색 유형</span>
      <span class="cont">내용</span>
      <span class="social">SNS</span>
      <span class="time">검색 일시</span>
      <span class="progress">검색 진행률</span>
      <span class="dist">구분</span>
      <span class="dist"> 검색 결과 / 유사도</span>
      <button class="del-btn btn-off dels" onclick="checkTsiunos();"></button>
      <input type="hidden" id="tsiUnosValue" name="tsiUnosValue" value="">
      <!--<input type="button" class="del-btn btn-off dels" onclick="checkTsiunos();"></input>-->
    </h2>

    <ul class="history-list history-search-list">
      <li style="width: 1460px;" class="btn-off bor10" th:each="searchInfoList:${searchInfoList}">
        <input type="checkbox" id="tsiUnos" name="tsiUnos" th:value="${searchInfoList.getTsiUno()}">
        <!--        <div class="tsiUnoclass">
                <input type="hidden" id="tsiUno" name="tsiUno" th:value="${searchInfoList.getTsiUno()}">
                </div>-->
        <p class="num" th:text="${searchInfoList.getTsiUno()}"></p> <!-- 순번 -->
        <p class="counselor" th:text="${userIdMap.get(searchInfoList.getTsiUserUno())}">상담사 아이디</p>
        <p class="type" style="text-align: center">
          <th:block th:switch="${searchInfoList.getTsiType()}">
            <span th:case="${'11'}">키워드</span>
            <span th:case="${'13'}">키워드 + 사진</span>
            <span th:case="${'15'}">키워드 + 영상</span>
            <span th:case="${'17'}">사진</span>
            <span th:case="${'19'}">영상</span>
          </th:block>
        </p>
        <div class="cont">
          <div class="img-box"> <!-- onclick="InfoList();" -->
            <div class="img" th:if="${searchInfoList.getTsiType() != '11'}">
              <button class="tsiUnoClass" id="tsiUno" name="tsiUno"  th:value="${searchInfoList.getTsiUno()}" onclick="InfoList(this);"><img th:if="${searchInfoList.getTsiType() != '15' && searchInfoList.getTsiType() != '19'}" th:src="'/imagePath'+${#strings.substring(searchInfoList.getTsiImgPath(),7)}+${searchInfoList.getTsiImgName()}" alt=""></button>
              <video th:if="${searchInfoList.getTsiType() == '15' || searchInfoList.getTsiType() == '19'}" th:src="'/imagePath'+${#strings.substring(searchInfoList.getTsiImgPath(),7)}+${searchInfoList.getTsiImgName()}" alt="" />
            </div>
          </div>
          <p class="con1">
            <span class="con1 text_escape" th:text="${searchInfoList.getTsiKeyword()}"></span>
          </p>
        </div>
        <p class="social">
          <img th:if="${searchInfoList.getTsiGoogle()}" src="/img/common/sns/google.png" alt="">
          <img th:if="${searchInfoList.getTsiFacebook()}" src="/img/common/sns/face.png" alt="">
          <img th:if="${searchInfoList.getTsiTwitter()}" src="/img/common/sns/twitter.png" alt="">
          <img th:if="${searchInfoList.getTsiInstagram()}" src="/img/common/sns/insta.png" alt="">
        </p>
        <p class="time" th:text="${#dates.format(searchInfoList.getTsiFstDmlDt(), 'yyyy.MM.dd &nbsp; HH:mm:ss')}"></p>
        <p class="dot-wrap progress">
          <input type="hidden" class="dot-tsi-uon" th:value="${searchInfoList.getTsiUno()}"></input>
          <input type="hidden" class="dot-tsi-date" th:value="${#dates.format(searchInfoList.getTsiFstDmlDt(), 'yyyy.MM.dd &nbsp; HH:mm:ss')}"></input>
          <span class="dot"></span>
          <span class="dot-per" th:text="${getProgressPercentMap.get(searchInfoList.getTsiUno()) == null ? '0%' : getProgressPercentMap.get(searchInfoList.getTsiUno())}"></span>
        </p>
        <button class="btn-off review" th:onclick="|location.href='@{/result(tsiUno=${searchInfoList.getTsiUno()}, tsiKeyword=${searchInfoList.getTsiKeyword()}, keyword=${searchInfoList.getTsiKeyword()})}'|">검색중</button>
        <p style="margin-right: 17px;"> 총 <span th:text="${searchInfoList.getResultCnt()}" />건,
          &nbsp; 유사도: <span th:text="${searchInfoList.getTmrSimilarityCnt()}" />건
        </p>
        <button class="del-btn btn-off del" th:value="${searchInfoList.getTsiUno()}">삭제</button>
      </li>
      <li th:if="${searchInfoListCount == 0}"><span style="width: 100%; text-align: center;">조회 결과가 없습니다.</span></li>
    </ul>
    <nav>
      <ul id="pagination" th:with="start=${(searchNumber / maxPage * maxPage) + 1}, end=(${(searchTotalPages == 0) ? 1 : ((start + maxPage - 1) < searchTotalPages ? (start + maxPage - 1) : searchTotalPages)})">
        <li class="page-num" th:if="${start > 1}"><a th:onclick="'javascript:searchEvent('+ ${1} + ');'" class="btn-off" style="width:30px;">처음</a></li>
        <li class="page-prev" th:if="${start > 1}"><a th:onclick="'javascript:searchEvent('+ ${start - maxPage} + ');'" class="btn-off">이전</a></li>
        <li class="page-num" th:each="pageNum : ${#numbers.sequence(start, end)}"><a th:onclick="'javascript:searchEvent('+ ${pageNum} + ');'" class="btn-off" th:classappend="${searchNumber + 1 == pageNum} ? 'active' : ''" th:text="${pageNum}"></a></li>
        <li class="page-next" th:if="${end < searchTotalPages}"><a th:onclick="'javascript:searchEvent('+ ${start + maxPage} + ');'" class="btn-off">다음</a></li>
        <li class="page-num" th:if="${end < searchTotalPages}"><a th:onclick="'javascript:searchEvent('+ ${searchTotalPages} + ');'" class="btn-off" style="width:30px;">끝</a></li>
      </ul>
    </nav>
  </section>

  <!-- 추적 이력 -->
  <section class="trace-history layout history">

    <div class="searchbox">
      <form name="history-search" class="search-box" action="/monitoringDeleteReqList" id="traceForm">
        <div class="selection selectBox">
          <button id="traceSelect" type="button" style="width: 110px;">전체</button> <!--  th:text="${manageType}"  -->
          <input type="hidden" class="bor10 M-box-in" name="manageType" th:value="${manageType}" > <!--  -->
          <input type="hidden" name="page" > <!-- id="searchPage"  -->
          <ul class="option select" id="option">
            <li>전체</li>
            <li>검색어</li>
            <li>대상자</li>
          </ul>
        </div>


        <input type="text" class="list-search bor10 btn-off" placeholder="검색어를 입력해 주세요" th:value="${traceKeyword}" name="traceKeyword" id="traceKeyword">
        <input type="hidden" name="tracePage" id="tracePage">
      </form>
      <input id="traceHistoryValue" type="text" value="">

      <!--  <button type="button" style="margin-right: 495px; font-weight: bold; ">엑셀</button>-->
      <ul class="currently-state">
        <li onclick="traceList();"><span style="font-weight: bold">전체 :</span> <span th:text="${traceHistoryListCount}">32</span></li>
        <!-- id="monitoringList" onclick="monitoringList();" -->
        <li><span th:onclick="|location.href='@{/monitoringList}'|" style="font-weight: bold"> 모니터링 :</span> <span th:text="${countMonitoring}">8</span></li>
        <li><span th:onclick="|location.href='@{/monitoringDeleteReqList}'|" style="font-weight: bold">삭제 요청 :</span> <span th:text="${countDelReq}">10</span></li>
        <li><span  th:onclick="|location.href='@{/monitoringDeleteComptList}'|" style="font-weight: bold">삭제 완료 :</span> <span th:text="${countDelCmpl}">14</span></li>
        <li><span  th:onclick="|location.href='@{/allTimeMonitoringChkList}'|" style="font-weight: bold">24시간 모니터링 :</span> <span th:text="${allTimeMonitoringCnt}">14</span></li>
      </ul>
    </div>
    <h2 class="list-tit">
      <input type="checkbox" id="traceAllCheckbox" onclick="allCheckboxBtnTrace();" >
      <span class="num">순번</span>
      <span class="cont">내용 및 검색 정보</span>
      <span class="memo">메모</span>
      <span class="state">상태</span>
      <span class="all-time">구분</span>
      <span class="double-chk" >재유포</span>
      <button class="del-btn btn-off dels2" style="border-radius: 50%; height: 22px; margin-left: 18px; " onclick="deleteTsrunos();"></button>
      <input type="hidden" id="tsrUnoValues" name="tsrUnoValues" value="">
    </h2>
    <ul class="history-list history-trace-list">
      <li class="btn-off bor10" th:each="traceHistoryList : ${traceHistoryList}">
        <input type="checkbox" id="tsrUnos" name="tsrUnos" th:value="${traceHistoryList.getTsrUno()}">
        <p class="num" th:text="${traceHistoryList.getTsrUno()}">${i}</p>
        <div class="cont">
          <div class="img-box">
            <input type="hidden" th:value="${traceHistoryList.getTsrUno()}" id="tsrUno">
            <div class="img" >
              <img th:if="${traceHistoryList.getTsrImgPath()} != null "
                   th:src="${'/imagePath'+#strings.substring(traceHistoryList.getTsrImgPath(),7)+traceHistoryList.getTsrImgName()}" alt="">
            </div>
            <th:block th:switch="${traceHistoryList.getTsrSns()}">
              <img th:case="11" src="/img/common/sns/google-round.png" alt="" class="sns">
              <img th:case="13" src="/img/common/sns/twitter-round.png" alt="" class="sns">
              <img th:case="15" src="/img/common/sns/insta-round.png" alt="" class="sns">
              <img th:case="17" src="/img/common/sns/facebook-round.png" alt="" class="sns">
            </th:block>
          </div>
          <div class="text" style="width: 100px;">
            <a class="url" style="width:100%" th:href="${traceHistoryList.getTsrSiteUrl()}" target="_blank" th:text="${traceHistoryList.getTsrSiteUrl()}">url이 들어갑니다</a>
            <p class="content" th:text="${traceHistoryList.getTsrTitle()}">내용이 들어갑니다</p>
            <p class="detail"><span class="detail-info">검색정보 :
                <th:block th:switch="${tsiTypeMap.get(traceHistoryList.getTsiUno())}">
                  <span th:case="11">키워드</span>
                  <span th:case="13">키워드 + 사진</span>
                  <span th:case="15">키워드 + 영상</span>
                  <span th:case="17">사진</span>
                  <span th:case="19">영상</span>
                </th:block>
                /
                <span th:text="${tsiKeyword.get(traceHistoryList.getTsiUno())}">키워드가 들어 갑니다</span> <span th:text="${traceHistoryList.tsrImgName}">파일명이 들어갑니다</span>
                </span>
              <span class="detail-time">
                  검색일 : <span th:text="${#dates.format(tsiFstDmlDt.get(traceHistoryList.getTsiUno()), 'yyyy.MM.dd')}">2022.01.12</span>
                <!--<p th:text="${#dates.format(traceInfo.getTsrFstDmlDt(), 'yyyy-MM-dd')}">2023-01-02</p>-->
              </span>
            </p>
            <!--       <p class="counselor" th:text="${userIdMap.get(searchInfoList.getUserUno())}">상담사 아이디</p>-->
            <p class="">상담사 : <span th:text="${traceHistoryList.getTuUserId()}"></span></p>
            <!--<p class="">상담사 : <span th:text="${traceHistoryList.getTuUserId()}"></span></p> 원본 -->
          </div>
        </div>
        <textarea placeholder="내용 입력" class="btn-on memo" th:data-uno="${traceHistoryList.getTsrUno()}" th:text="${traceHistoryList.getTrkHistMemo()}"></textarea>
        <div class="state">
          <input type="hidden" class="bor10 M-box-in" name="trace-state">
          <div style="margin-left: 5px;" class="selection setTraceHistory" th:data-uno="${traceHistoryList.getTsrUno()}">
            <th:block th:switch="${traceHistoryList.getTrkStatCd()}">
              <button th:case="10" style="color: #194894;">모니터링</button>
              <button th:case="20" style="color: #e87728;">삭제 요청</button>
              <button th:case="30">삭제 완료</button>
            </th:block>
            <ul class="option" >
              <li data-cd="30">삭제 완료</li>
              <li data-cd="20" style="color: #e87728;">삭제 요청</li>
              <li data-cd="10" style="color: #194894; ">모니터링</li>
            </ul>
          </div>
        </div>
        <button class="btn-off all-time" style="margin-left: 5px;" th:classappend="${traceHistoryList.getMonitoringCd() eq '20' ? 'active' : ''}" th:value="${traceHistoryList.getTsrUno()}">24시간 모니터링</button>
        <!--<button type="button" class="btn-off all-time" onclick="alert('작업 중입니다.'); return false;" th:value="${traceHistoryList.getTsrUno()}">24시간 모니터링</button>-->
        <!--      <button class="btn-off double-chk" th:if="${traceHistoryList.getTsrUno()!=12999}" th:value="${traceHistoryList.getTsrUno()}">0건</button>-->
        <!--      <button class="btn-off double-chk" th:if="${traceHistoryList.getTsrUno()==12999}" th:value="${traceHistoryList.getTsrUno()}">1건</button>  th:value="${traceHistoryList.getTsr5tsruno()}"  -->
        <!--<button class="btn-off double-chk" th:value="${traceHistoryList.getTsrUno()}" th:tsiuno="${traceHistoryList.getTsiUno()}" th:keyword="${traceHistoryList.getTsiKeyword()}" th:text="${traceHistoryList.getRe_monitor_cnt()}+'건'">0건</button>-->
        <button class="btn-off double-chk" style="margin-left: 5px;" th:tsiUno="${traceHistoryList.getTsi3tsiuno()}" th:tsiKeyword="${traceHistoryList.getTsi3Keyword()}" th:text="${traceHistoryList.getRe_monitor_cnt()}+'건'">0건</button>
        <button style="border-radius: 50%; height: 22px; margin-left: 15px; " class="del-btn btn-off del2" id="traceTsrUno" onclick="traceDelete();" th:value="${traceHistoryList.getTsrUno()}">삭제</button>
        <!--<button class="btn-off double-chk" th:text="${traceHistoryList.getRe_monitor_cnt()}+'건'" th:onclick="|location.href='@{/notice(tsiUno=${traceHistoryList.getTsi3tsiuno()}, tsiKeyword=${traceHistoryList.getTsi3Keyword()} )}'|">0건</button>-->
        <!--window.location.href = '/notice?'+'&keyword=' + btn.getAttribute("keyword") + '&tsiuno=' + btn.getAttribute("tsiuno"); -->
      </li>
      <li th:if="${traceHistoryListCount == 0}"><span style="width: 100%; text-align: center;">조회 결과가 없습니다.</span></li>
    </ul>
    <nav>
      <ul id="pagination" th:with="start=${(traceNumber / maxPage * maxPage) + 1}, end=(${(traceTotalPages == 0) ? 1 : ((start + maxPage - 1) < traceTotalPages ? (start + maxPage - 1) : traceTotalPages)})">
        <li class="page-num" th:if="${start > 1}"><a th:onclick="'javascript:traceEvent('+ ${1} + ');'" class="btn-off" style="width:30px;">처음</a></li>
        <li class="page-prev" th:if="${start > 1}"><a th:onclick="'javascript:traceEvent('+ ${start - maxPage} + ');'" class="btn-off">이전</a></li>
        <li class="page-num" th:each="pageNum : ${#numbers.sequence(start, end)}"><a th:onclick="'javascript:traceEvent('+ ${pageNum} + ');'" class="btn-off" th:classappend="${traceNumber + 1 == pageNum} ? 'active' : ''" th:text="${pageNum}"></a></li>
        <li class="page-next" th:if="${end < traceTotalPages}"><a th:onclick="'javascript:traceEvent('+ ${start + maxPage} + ');'" class="btn-off">다음</a></li>
        <li class="page-num" th:if="${end < traceTotalPages}"><a th:onclick="'javascript:traceEvent('+ ${traceTotalPages} + ');'" class="btn-off" style="width:30px;">끝</a></li>
      </ul>
    </nav>
  </section>
  <script>
    footer();
  </script>
</article>
<script th:inline="javascript">

  $(document).ready(function() {
    document.getElementById('trace-tit').click();
  });

  const searchType = document.querySelector(".selection.selectBox");
  const option2 = document.querySelectorAll(".option.select li");
  const tType2 = document.querySelector('input[name=manageType]');
  const search = document.querySelector(".list-search");

  searchType.addEventListener("click", (e)=>{
    searchType.classList.toggle('active');
    option2.forEach(btn => {
      btn.addEventListener('click', (e)=>{
        searchType.children[0].innerHTML = e.target.innerText;
        tType2.value = e.target.innerText;
      })
    })
  })

  function InfoList(tsiUno){
    // alert("tsiUno: "+tsiUno.value)
    console.dir(tsiUno.value)

    var xhr = new XMLHttpRequest();
    //요청을 보낼 방식, 주소, 비동기여부 설정
    xhr.open('GET', 'result-detail?tsiUno=' + tsiUno.value, true);
    xhr.send(null);

    xhr.onload = () => {
      //통신 성공
      if (xhr.status == 200) {
        document.body.style.overflow = 'hidden';
        modal.style.display = 'block';
        modal.innerHTML = xhr.response;
        const esc = document.querySelector(".trace-detail .esc-btn");
        esc.onclick = () => {
          modal.style.display = 'none';
          document.body.style.overflow = 'unset';
        }
        const _CANVASBOX = document.querySelectorAll(`.preview-img `);
        //비디오 태그의 메타데이터가 들어오면
        _CANVASBOX.forEach(img => {
          let _VIDEO = img.querySelector('video');
          _VIDEO.addEventListener('loadedmetadata', function (e) {
            img.children[0].width = _VIDEO.videoWidth;
            img.children[0].height = _VIDEO.videoHeight;
            const time = Math.random() * _VIDEO.duration;
            _VIDEO.currentTime = time; //비디오의 영상길이 중 랜덤 타임을 뽑음
            img.children[1].getContext("2d").drawImage(_VIDEO, 0, 0, _VIDEO.videoWidth, _VIDEO.videoHeight);
            // 비디오 플레이
            const video = document.querySelectorAll(".img-box .video");
            if (video) {
              video.forEach(vid => {
                const btn = vid.querySelector('.play-btn');
                btn.onclick = () => {
                  vid.querySelector("video").play();
                  vid.querySelector("video").controls = true;
                  vid.querySelector(".play-wrap").style.display = 'none';
                }
              })
            }
          })
        })
      } else {
        //통신 실패
        console.log("통신 실패");
      }
    }
  }

  function allCheckboxBtn(){
    if($('#allCheckbox').prop("checked")) {
      $("input[type=checkbox]").prop("checked", true);
    } else {
      $("input[type=checkbox]").prop("checked", false);
    }
  }

  function allCheckboxBtnTrace() {
    if($('#traceAllCheckbox').prop("checked")) {
      $("input[type=checkbox]").prop("checked", true);
    } else {
      $("input[type=checkbox]").prop("checked", false);
    }
  }

  function checkTsiunos() {
    if(confirm("일괄 삭제하시겠습니까?")) {
      var obj = $("[name=tsiUnos]");

      var chkArray = new Array(); // 배열 선언

      $('input:checkbox[name=tsiUnos]:checked').each(function() {
        chkArray.push(this.value);
      });
      $('#tsiUnosValue').val(chkArray);

      const tsiUnosValue = document.getElementById('tsiUnosValue').value;

      if(tsiUnosValue === null || tsiUnosValue === ''){
        alert("삭제할 데이터를 선택해주세요.");
        return false;
      }

      // alert($('#tsiUnosValue').val());

      $.ajax({
        url: "/search/deleteTsiUnos",
        type: "get",
        data: {
          tsiUnosValue: $('#tsiUnosValue').val()
        },
        success:function(data) {
          alert("삭제가 완료되었습니다.");
          window.location.href="/history";
        }, error:function(){
          // alert("실패")
          console.log("통신 실패");
        }
      })
    }
  }

  // 페이징 처리 시에 탭 전환 방지
  const sTit = document.querySelector('.s-tit');
  const tTit = document.querySelector('.t-tit');
  const searchhistory = document.querySelector('.search-history');
  const tracehistory = document.querySelector('.trace-history');

  // const isTabType = /*[[${tabType}]]*/;
  const isTabType = sessionStorage.getItem('tabType') != null ? sessionStorage.getItem('tabType') : 'search';

  console.log(isTabType);
  if(isTabType !== 'search') {
    searchhistory.classList.remove('active');
    tracehistory.classList.add('active');
    sTit.classList.remove('active');
    tTit.classList.add('active');
  }

  // 히스토리 탭
  const hisTab = document.querySelectorAll('.title span');
  const his = document.querySelectorAll('.history');

  hisTab.forEach((tab, idx) => {
    tab.onclick = (e) => {
      console.log(e.target.innerHTML);
      if(e.target.className.substring(0,5) === 's-tit') {
        sessionStorage.setItem('tabType', 'search');
      } else {
        sessionStorage.setItem('tabType', 'trace');
      }
      getSiblings(e.target).forEach(t => {
        t.classList.remove('active');
      });
      his.forEach(gr => {
        gr.classList.remove('active');
      })
      e.target.classList.add('active');
      his[idx].classList.add('active');
    }
  })

  // 셀렉트 구현
  const select = document.querySelectorAll(".selection.setTraceHistory");
  select.forEach(sel => {
    sel.addEventListener("click", (e) => {
      sel.classList.toggle('active');
      const option = sel.querySelectorAll(".option li");
      option.forEach(btn => {
        btn.addEventListener('click', (e) => {
          let val = e.target.innerText;
          sel.children[0].innerHTML = val;

          //XMLHttpRequest 객체 생성
          var xhr = new XMLHttpRequest();
          //요청을 보낼 방식, 주소, 비동기여부 설정
          xhr.open('GET', '/search/setTrkStatCd?tsrUno='+sel.dataset.uno+'&trkStatCd='+e.target.dataset.cd, true);
          //요청 전송
          xhr.send(null);
          //통신후 작업
          xhr.onload = () => {
            if (xhr.status === 200) {  //통신 성공
              console.log("통신 성공");
            } else {  //통신 실패
              console.log("통신 실패");
            }
          }
        })
      });
    });
  })

  const searchForm = document.querySelector("#searchForm");
  const searchPage = document.querySelector("#searchPage");
  const searchEvent = (pageNum) => {
    searchPage.value = pageNum;
    searchForm.submit();
  }

  const traceForm = document.querySelector("#traceForm");
  const tracePage = document.querySelector("#tracePage");
  const traceEvent = (pageNum) => {
    tracePage.value = pageNum;
    traceForm.submit();
  }

  // 검색 진행률
  const progress = document.querySelectorAll(".dot-wrap.progress");
  progress.forEach(pro => {
    const per = pro.querySelector(".dot-per");
    const loading = pro.querySelector(".dot");
    const dotTsiUno = pro.querySelector(".dot-tsi-uon").value;
    const dotTsiDate = pro.querySelector(".dot-tsi-date").value;

    var tsi_uno_count = true;

    var today = new Date();

    var year = today.getFullYear();
    var month = ('0' + (today.getMonth() + 1)).slice(-2);
    var day = ('0' + today.getDate()).slice(-2);
    var hours = ('0' + today.getHours()).slice(-2);
    var minutes = ('0' + today.getMinutes()).slice(-2);
    var seconds = ('0' + today.getSeconds()).slice(-2);
    var dateString = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds;
    const dateA = new Date(dateString);
    const dateB = new Date(dotTsiDate);
    const diffMSec = dateA.getTime() - dateB.getTime();
    const diffMin = diffMSec / (60 * 1000);

    console.info(dotTsiUno + " 번호");

    //XMLHttpRequest 객체 생성
    var req = new Req();
    //요청을 보낼 방식, 주소, 비동기여부 설정
    req.url = '/history_tsi_uno_count';
    req.data = { tsi_uno: dotTsiUno }
    const result = req.async();
    console.info(result);

    if(!result) {
      tsi_uno_count = false;
    }

    console.info(diffMin+'/diffMin');
    if(diffMin>=1){
      loading.style.display = 'none';
      per.style.fontSize = '1rem';
      per.style.cssText = "font-size:1rem; color:#545759;";
      per.innerText = "100%";
      pro.nextElementSibling.innerHTML = "검색결과";
      pro.nextElementSibling.style.color = "#e87728";
      console.info(tsi_uno_count);
      console.info(per.innerText);

    }
  })

  function Req() {
    this.url = undefined
    this.data = {}
    this.method = "POSt"
    this.responseType = "json"
    this.requestHeader = "application/x-www-form-urlencoded"
    this.request = new XMLHttpRequest()
    this.getQueryString = () => {
      return Object.entries(this.data).map(e => e.join('=')).join('&')
    }
    this.async = () => {
      if(!this.request) {
        console.error("Can't make request.")
        return false
      }

      this.request.open(this.method, this.url, false)
      this.request.setRequestHeader("Content-Type", this.requestHeader)

      let result = undefined
      this.request.addEventListener("readystatechange", function (event) {
        const { target } = event;
        if (target.readyState === XMLHttpRequest.DONE) {
          const { status } = target;
          if (status === 0 || (status >= 200 && status < 400)) {
            result = target.response
          }
        }
      })
      this.request.send(this.getQueryString())
      return JSON.parse(result)
    }
  }

  // 검색 이력 삭제
  const delBtn = document.querySelectorAll(".del");
  delBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      if((confirm("삭제하시겠습니까?"))) {
        //XMLHttpRequest 객체 생성
        var xhr = new XMLHttpRequest();

        //요청을 보낼 방식, 주소, 비동기여부 설정
        xhr.open('GET', '/search/deleteSearchInfo?tsiUno='+btn.value, true);
        //요청 전송
        xhr.send(null);
        //통신후 작업
        xhr.onload = () => {
          if (xhr.status === 200) {  //통신 성공
            console.log("통신 성공");
            window.location.href="/history"
          } else {  //통신 실패
            console.log("통신 실패");
          }
        }
      }
    })
  });

  // 추적 이력 메모
  const trkHistMemo = document.querySelectorAll(".memo");
  trkHistMemo.forEach((memo) => {
    memo.addEventListener('focusout', () => {
      //XMLHttpRequest 객체 생성
      var xhr = new XMLHttpRequest();
      //요청을 보낼 방식, 주소, 비동기여부 설정
      xhr.open('GET', '/search/setTrkHistMemo?tsrUno='+memo.dataset.uno+'&memo='+memo.value, true);
      //요청 전송
      xhr.send(null);
      //통신후 작업
      xhr.onload = () => {
        if (xhr.status === 200) {  //통신 성공
          console.log("통신 성공");
        } else {  //통신 실패
          console.log("통신 실패");
        }
      }
    })
  });

  const chkBtn = document.querySelectorAll(".btn-off.double-chk")
  chkBtn.forEach((btn) => {
    btn.addEventListener('click', () => {
      if(btn.getAttribute("tsiUno")) {
        // window.location.href = '/notice?tsrUno=' + btn.value + '&keyword=' + btn.getAttribute("keyword") + '&tsiuno=' + btn.getAttribute("tsiuno");
        window.location.href = '/notice?'+'tsiKeyword=' + btn.getAttribute("tsiKeyword") + '&tsiUno=' + btn.getAttribute("tsiUno");
      }else{
        alert('조회대상이 없습니다.');
      }
    })
  });

  // 대상 디테일
  const imgBtn = document.querySelectorAll(".img-box");
  // const tsiUnoClass = document.querySelectorAll(".history-search-list");
  const modal = document.querySelector("#modal");

  imgBtn.forEach((btn) => {
    const tsrUno = btn.querySelector("#tsrUno");

    btn.addEventListener('click', () => {
      //XMLHttpRequest 객체 생성
      var xhr = new XMLHttpRequest();
      //요청을 보낼 방식, 주소, 비동기여부 설정
      xhr.open('GET', 'trace-detail?tsrUno='+tsrUno.value, true);
      //요청 전송
      xhr.send(null);
      //통신후 작업
      xhr.onload = () => {
        //통신 성공
        if (xhr.status == 200) {
          document.body.style.overflow = 'hidden';
          modal.style.display = 'block';
          modal.innerHTML = xhr.response;
          const esc = document.querySelector(".trace-detail .esc-btn");
          esc.onclick = () => {
            modal.style.display = 'none';
            document.body.style.overflow = 'unset';
          }
          const _CANVASBOX = document.querySelectorAll(`.preview-img `);
          //비디오 태그의 메타데이터가 들어오면
          _CANVASBOX.forEach(img => {
            let _VIDEO = img.querySelector('video');
            _VIDEO.addEventListener('loadedmetadata', function (e) {
              img.children[0].width = _VIDEO.videoWidth;
              img.children[0].height = _VIDEO.videoHeight;
              const time = Math.random() * _VIDEO.duration;
              _VIDEO.currentTime = time; //비디오의 영상길이 중 랜덤 타임을 뽑음
              img.children[1].getContext("2d").drawImage(_VIDEO, 0, 0, _VIDEO.videoWidth, _VIDEO.videoHeight);
              // 비디오 플레이
              const video = document.querySelectorAll(".img-box .video");
              if (video) {
                video.forEach(vid => {
                  const btn = vid.querySelector('.play-btn');
                  btn.onclick = () => {
                    vid.querySelector("video").play();
                    vid.querySelector("video").controls = true;
                    vid.querySelector(".play-wrap").style.display = 'none';
                  }
                })
              }
            })
          })
        } else {
          //통신 실패
          console.log("통신 실패");
        }
      }
    })
  });

  // 24시간 모니터링 버튼 활성화
  const allTime = document.querySelectorAll(".all-time");
  for (let i = 0; i < allTime.length; i++) {
    allTime[i].addEventListener('click', function () {
      this.disabled = true;
      //XMLHttpRequest 객체 생성
      var xhr = new XMLHttpRequest();
      //요청을 보낼 방식, 주소, 비동기여부 설정
      xhr.open('GET', 'search/monitoring?tsrUno='+this.value, true);
      //요청 전송
      xhr.send(null);
      //통신후 작업
      xhr.onload = () => {
        if (xhr.status === 200) {   //통신 성공
          this.classList.toggle('active');
        } else {  //통신 실패
          //this.classList.toggle('active');
        }
        this.disabled = false;
      }
    })
  }

  // 추적이력 삭제 단건
  function traceDelete(){
    const delBtn = document.getElementById('traceTsrUno');
    // alert(delBtn.value);
    if((confirm("삭제하시겠습니까?"))) {
      $.ajax({
        url: "/deleteTsrUno",
        type: "post",
        data: {
          tsrUno: delBtn.value
        },
        success:function(data) {
          alert("삭제가 완료되었습니다.");
          window.location.href="/history";
        }, error:function(){
          // alert("실패")
          console.log("통신 실패");
        }
      })
    }
  }

  // 추적이력 삭제 다건
  function deleteTsrunos(){
    if((confirm("일괄 삭제 하시겠습니까?"))){
      var obj = $("[name=tsrUnos]");

      var chkArray = new Array(); // 배열 선언

      $('input:checkbox[name=tsrUnos]:checked').each(function() {
        chkArray.push(this.value);
      });

      $('#tsrUnoValues').val(chkArray);

      const tsrUnoValues = document.getElementById('tsrUnoValues').value;

      if(tsrUnoValues === null || tsrUnoValues === "") {
        alert("삭제할 데이터를 선택해주세요.");
        return false;
      }

      $.ajax({
        url: "/deleteTsrUnos",
        type: "get",
        data: {
          tsrUnoValues: $('#tsrUnoValues').val()
        },
        success:function(data) {
          alert("삭제가 완료되었습니다.");
          window.location.href="/history";
        }, error:function(){
          // alert("실패")
          console.log("통신 실패");
        }
      })
    }
  }

  function traceList(){
    window.location.href = "/history";
  }
  function monitoringList(){
    document.getElementById('traceHistoryValue').value = '10';
    const traceHistoryValue = document.getElementById('traceHistoryValue').value;

    // alert('traceHistoryValue: '+traceHistoryValue)

      $.ajax({
        url: "/history",
        type: "get",
        data: {
          traceHistoryValue: traceHistoryValue
        },
        success:function(data) {
          alert("성공 .");

          // window.location.href="/history";
        }, error:function(){
          // alert("실패")
          console.log("통신 실패");
        }
      })
  }

</script>
</body>

</html>
