<section class="keyword nations counselor-add bor10">
    <h3 class="title">국가 설정 정보</h3>
    <div class="keyword-box btn-on bor10" style="margin-top: 30px;">
        <div class="box_wrap">
            <form name="keyword" class="flex flex-column">
                <ul>
                    <li>
                        <label class="flex">
                            <span class="tit">미국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">한국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">중국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">네덜란드</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">태국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">러시아</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">베트남</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>

                    <li>
                        <label class="flex">
                            <span class="tit">미국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">한국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">중국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">네덜란드</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">태국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">러시아</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">베트남</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>

                    <li>
                        <label class="flex">
                            <span class="tit">미국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">한국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">중국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">네덜란드</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">태국</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">러시아</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">베트남</span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <button type="button" class="esc-btn">닫기</button>
</section>
