<section class="keyword nations counselor-add bor10">
    <h3 class="title">국가 설정 정보</h3>
    <div class="keyword-box btn-on bor10" style="margin-top: 30px;">
        <div class="box_wrap">
            <form name="keyword" class="flex flex-column">
                <ul>
                    <li class="nations_all_check flex">
                        <label class="flex">
                            <span class="tit">전체</span>
                            <span class="select_box" >
                                <input class="selectBox" type="checkbox">
                            </span>
                        </label>
                    </li>
                    <li th:each="item : ${list}">
                        <label class="flex">
                            <span class="tit" th:text="${item.getNcName()}">미국</span>
                            <span class="select_box nationUno"  th:value="${item.getNcUno()}">
                                <!--<input class="checkboxNationUno" type="hidden" th:value="${item.getNcUno()}">-->
                                <input class="checkboxNation" type="checkbox"  th:value="${item.getNcIsActive()}">
                            </span>
                        </label>
                    </li>

                    
                    <!--
                                        <li class="nations_all_check flex">
                                            <label class="flex">
                                                <span class="tit">전체</span>
                                                <span class="select_box"><input type="checkbox"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="flex">
                                                <span class="tit">미국</span>
                                                <span class="select_box"><input type="checkbox"></span>
                                            </label>
                                        </li>
                    -->
                </ul>
            </form>
        </div>
    </div>
    <button type="button" class="esc-btn">닫기</button>
</section>
