<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>알림보드</title>
  <link rel="stylesheet" href="/css/common.min.css" />
  <link rel="stylesheet" href="/css/notice.min.css" />
<!--  <script src="/js/header.js"></script>-->
  <script src="/js/pagination.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/style.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
<article class="notice-wrap wrapper">
  <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
  <script>header();</script>
  <seciton class="layout" id="trace">
    <h1 class="title">재확산 자동추적</h1>
    <!-- <div class="search-contents btn-on bor10" >
      <div class="search-list">
        <div class="search-tab">
          <div class="tab on">
            <div class="search-img">
              <video src="./img/replace/replacevideo.mp4">
            </div>
            <p>"<span>고딩</span>"에 대한 검색 결과 입니다.</p>
          </div>
          <img src="./img/result/double-right.png" alt="" class="next research">
        </div>
      </div>
      <p class="total-num">총 <span>123</span>건</p>
    </div> -->
    <div class="notice-contents">
      <form name="notice-list" class="unity-box">
        <div class="unity-setting">
          <p>일치율 조건(%)</p>
          <div class="selection setUnity">
            <button type="button">80</button>
            <input type="hidden" class="bor10 M-box-in" name="unity-set" value="80">
            <ul class="option">
              <!-- 하단 스크립트 -->
            </ul>
          </div>
        </div>
      </form>
      <button type="button" class="bor10 btn-off auto-trace">자동추적 키워드</button>
      <div class="view-type">
        <button type="button" class="list-btn btn-off">목록형</button>
        <button class="img-btn btn-off">이미지형</button>
      </div>
    </div>
    <div class="notice-list list-content ">
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-1.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">100%</h2>
        <a href="https://www.gamtantimes.com/news/articleView.html?idxno=30861" class="url" target="_blank">https://www.gamtantimes.com/news/articleView.html?idxno=30861</a>
        <p class="content">서울시가 제2·제3의 ‘n번방 사건’ 피해를 막기 위해 디지털 성범죄 피해자를 통합 지원하는 ‘서울 디지털성범죄 안심지원센터’를 29일 개관했다.
          출처 : 감탄시대(https://www.gamtantimes.com)</p>
        <p class="detail">파일유형 : jpg, 파일명 : 1391_123gjaei.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-10.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/facebook-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">86%</h2>
        <a href="https://m.facebook.com/seoulwomen/posts/1849525968551229/?locale=ms_MY" class="url" target="_blank">https://m.facebook.com/seoulwomen/posts/1849525968551229/?locale=ms_MY</a>
        <p class="content">'서울시 디지털성범죄 안심지원센터' 개관</p>
        <p class="detail">파일유형 : jpg, 파일명 : 1256691_zdfdsjaei.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-2.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">92%</h2>
        <a href="http://news.tf.co.kr/read/life/1927680.htm" class="url" target="_blank">http://news.tf.co.kr/read/life/1927680.htm</a>
        <p class="content">서울시는 29일 오후 동작구 서울여성가족재단 내 '서울 디지털성범죄 안심지원센터'에서 현판식을 열었다. </p>
        <p class="detail">파일유형 : jpg, 파일명 : 0e2f714e-1391.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-3.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">90%</h2>
        <a href="https://v.daum.net/v/20220329155754213" class="url" target="_blank">https://v.daum.net/v/20220329155754213</a>
        <p class="content">[더팩트ㅣ이새롬 기자] 오세훈 서울시장과 최관호 서울경찰청장이 29일 오후 서울 동작구 대방동 서울여성가족재단에서 열린 '서울 디지털성범죄 안심지원센터' 개관식에 참석해 기념촬영을 하고 있다. </p>
        <p class="detail">파일유형 : jpg, 파일명 : 0e2f714eadfasera124.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-4.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">81%</h2>
        <a href="https://www.newdaily.co.kr/site/data/html/2022/03/29/2022032900234.html" class="url" target="_blank">https://www.newdaily.co.kr/site/data/html/2022/03/29/2022032900234.html</a>
        <p class="content">오세훈 서울시장과 최관호 서울경찰청장을 비롯한 참석자들이 29일 오후 서울 동작구 서울시여성가족재단에서 열린 서울시 디지털성범죄 안심지원센터 개관식에서 현판 제막에 앞서 기념촬영을 하고 있다. </p>
        <p class="detail">파일유형 : jpg, 파일명 : 0esdaw6999887d.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-5.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/facebook-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">99%</h2>
        <a href="https://www.facebook.com/hashtag/%EC%84%9C%EC%9A%B8%EA%B8%B0%EC%88%A0%EC%97%B0%EA%B5%AC%EC%9B%90/?source=feed_text&epa=HASHTAG" class="url" target="_blank">https://www.facebook.com/hashtag/%EC%84%9C%EC%9A%B8%EA%B8%B0%EC%88%A0%EC%97%B0%EA%B5%AC%EC%9B%90/?source=feed_text&epa=HASHTAG</a>
        <p class="content">올해로 4회째로 맞이하는 #2022서울빅데이터포럼 🎊
          ‘빅데이터와 AI로 그리는 동행·매력 서울’을 주제로 ‘2022 서울 빅데이터 포럼’ 이 개최됩니다!! </p>
        <p class="detail">파일유형 : jpg, 파일명 : 123122-09976g44.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-6.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/facebook-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">84%</h2>
        <a href="https://www.facebook.com/hashtag/%EC%84%9C%EC%9A%B8%EA%B8%B0%EC%88%A0%EC%97%B0%EA%B5%AC%EC%9B%90/?source=feed_text&epa=HASHTAG" class="url" target="_blank">https://www.facebook.com/hashtag/%EC%84%9C%EC%9A%B8%EA%B8%B0%EC%88%A0%EC%97%B0%EA%B5%AC%EC%9B%90/?source=feed_text&epa=HASHTAG</a>
        <p class="content">올해로 4회째로 맞이하는 #2022서울빅데이터포럼 🎊
          ‘빅데이터와 AI로 그리는 동행·매력 서울’을 주제로 ‘2022 서울 빅데이터 포럼’ 이 개최됩니다!! </p>
        <p class="detail">파일유형 : jpg, 파일명 : 1231-123dfe4j554e.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-7.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">88%</h2>
        <a href="https://www.newdaily.co.kr/site/data/html/2022/03/29/2022032900234.html" class="url" target="_blank">https://www.newdaily.co.kr/site/data/html/2022/03/29/2022032900234.html</a>
        <p class="content">오세훈 서울시장과 최관호 서울경찰청장을 비롯한 참석자들이 29일 오후 서울 동작구 서울시여성가족재단에서 열린 서울시 디지털성범죄 안심지원센터 개관식에서 현판 제막에 앞서 기념촬영을 하고 있다. </p>
        <p class="detail">파일유형 : jpg, 파일명 : 144r1-123sswgar32.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-8.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">100%</h2>
        <a href="https://www.edaily.co.kr/news/read?newsId=03598166632268240&mediaCodeNo=257" class="url" target="_blank">https://www.edaily.co.kr/news/read?newsId=03598166632268240&mediaCodeNo=257</a>
        <p class="content">[이데일리 김태형 기자] 오세훈(오른쪽) 서울시장과 최관호 서울경찰청장이 29일 오후 서울 동작구 서울시여성가족재단에서 열린 서울 디지털성범죄 안심지원센터 개관식에 참석해 기념촬영을 하고 있다.</p>
        <p class="detail">파일유형 : jpg, 파일명 : 12_cse_de33r32.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
      <section class="list M-box-up bor10">
        <div class="img-box">
          <div class="img">
            <img src="./img/replace/img1-9.jpg" alt="" loading="lazy">
          </div>
          <img src="./img/common/sns/google-round.png" alt="" class="sns">
        </div>
        <h2 class="unity">80%</h2>
        <a href="https://www.newdaily.co.kr/site/data/html/2022/03/29/2022032900234.html" class="url" target="_blank">https://www.newdaily.co.kr/site/data/html/2022/03/29/2022032900234.html</a>
        <p class="content">오세훈 서울시장과 최관호 서울경찰청장을 비롯한 참석자들이 29일 오후 서울 동작구 서울시여성가족재단에서 열린 서울시 디지털성범죄 안심지원센터 개관식에서 현판 제막에 앞서 기념촬영을 하고 있다.
        </p>
        <p class="detail">파일유형 : jpg, 파일명 : 1dfg_cse_ddsfee33r35562.jpg</p>
        <button class="trace-add btn-off ">추가</button>
      </section>
    </div>
  </seciton>
  <nav>
    <ul id="pagination">
      <li class="page-num"><a href="#" class="btn-off active">1</a></li>
    </ul>
  </nav>
  <script>
    // pagination();
    footer();
  </script>
</article>
<script>
  // 셀렉트 구현
  const select = document.querySelector(".selection.setUnity");
  let ops = '';
  for (let i = 50; i <= 100; i += 5) {
    ops += `<li class='unity_num' value=${i}>${i}</li>`
  }
  select.querySelector('.option').innerHTML = ops;
  const option = document.querySelectorAll(".selection .option li");
  const tType = document.querySelector('input[name=unity-set]');
  select.addEventListener("click", (e) => {
    select.classList.toggle('active');
    option.forEach(btn => {
      btn.addEventListener('click', (e) => {
        select.children[0].innerHTML = e.target.innerText;
        tType.value = e.target.innerText;
      })
    });
  });
  const noticeList = document.querySelector(".notice-list");
  // for (let i = 32; i > 0; i--) {
  //   noticeList.innerHTML += `
  //     <li class="btn-off bor10">
  //         <p class="time"><span class="date">2022.12.12</span> <br> <span class="hour">12:44:01</span></p>
  //         <p class="img"><img src="./img/replace/man.png" alt=""></p>
  //         <p class="type"><span>모니터링</span><span>(키워드)</span></p>
  //         <p class="unity">99%</p>
  //         <p class="cont"><span class="con">엄훠나 세솽에 이런 일이 다 있고 참 이상하네요 정말 정말 정말 왜 이렇게 이상할까요?????</span></p>
  //         <img src="./img/common/sns/face.png" alt="" class="social">
  //         <p class="url"><a href="#">https//:wwwgooglecomsearchq=%EC%9D%B8%EC%8A%A4%ED%83%80oq=%EC%9D%B8%EC%8A%A4%ED%83%80&aASDFsdfas...</a></p>
  //         <button class="trace-add btn-off">추가</button>
  //       </li>
  //       `;
  // }
  function autoTrace(val){
    $.ajax({
      type : "POST",
      url : "/ajax_auto_Insert",
      data : {'auto_keyword' : $('.keyword-add').val()},
      success : function(res){
        let word=val.querySelector("input").value;
        document.querySelector('.keyword-box>div').innerHTML+=
                `<p class="word-list">${word}<span type="button" field="${word}" class="delete" onclick='aTDelete(this);'>삭제</span></p>`;
        val.querySelector("input").value='';
      },
      error : function(XMLHttpRequest, textStatus, errorThrown){
        alert("통신 실패.")
      }
    });
  }
  function aTDelete(del){
    var field = $(del).attr('field');
    $.ajax({
      type : "POST",
      url : "/ajax_auto_Delete",
      data : {'auto_keyword' : $(del).attr('field')},
      success : function(res){

        $('.delete').each(function(index, item){
          if($(this).attr('field') == field){
            item.parentNode.remove();
          }
        })
      },
      error : function(XMLHttpRequest, textStatus, errorThrown){
        alert("통신 실패.")
      }
    });

  }

  // 키워드
  const autoKey = document.querySelector(".auto-trace");
  autoKey.addEventListener("click", () => {
    //XMLHttpRequest 객체 생성
    var xhr = new XMLHttpRequest();
    //요청을 보낼 방식, 주소, 비동기여부 설정
    xhr.open('GET', '/keyword', true);
    //요청 전송
    xhr.send(null);
    //통신후 작업
    xhr.onload = () => {
      //통신 성공
      if (xhr.status == 200) {
        document.body.style.overflow = 'hidden';
        modal.style.display = 'flex';
        modal.innerHTML = xhr.response;

        const esc = document.querySelector(".esc-btn");
        esc.onclick = () => {
          modal.style.display = 'none';
          document.body.style.overflow = 'unset';
        }
      } else {
        //통신 실패
        console.log("통신 실패");
      }
    }
  })
</script>
</body>

</html>