<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>알림보드</title>
  <link rel="stylesheet" href="/css/common.min.css" />
  <link rel="stylesheet" href="/css/notice.min.css" />
<!--  <script src="./header.js"></script>-->
  <script src="/js/pagination.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/style.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
  <article class="notice-wrap wrapper">
    <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
    <seciton class="layout" id="trace">
      <h1 class="title">알림 보드</h1>
      <div class="notice-contents">
        <form name="notice-list" class="unity-box">
          <div class="unity-setting">
            <p>일치율 조건(%)</p>
            <div class="selection">
              <button type="button">50</button>
              <input type="hidden" class="bor10 M-box-in" name="unity-set">
              <ul class="option">
                <!-- 하단 스크립트 -->
              </ul>
            </div>
          </div>
          <div class="view-type">
            <label>
              <input type="radio" name="notice-order" checked value="time"> 추적일시 순
            </label>
            <label>
              <input type="radio" name="notice-order" value="unity"> 일치율 순
            </label>
          </div>
        </form>
        <button type="button" class="bor10 btn-off auto-trace">자동추적 키워드</button>
      </div>
      <h2>
        <span class="time">추적 일시</span><span class="img">이미지</span> <span class="type">유형</span> <span
          class="unity">일치율</span><span class="cont">검색 내용</span><span class="social">SNS</span><span
          class="url">url</span>
      </h2>
      <ul class="notice-list list-content ">
      </ul>
    </seciton>
    <script>
      pagination();
      footer();
    </script>
  </article>
  <script>
    // 셀렉트 구현
    const select = document.querySelector(".selection");
    let ops = '';
    for (let i = 50; i <= 100; i += 5) {
      ops += `<li class='unity_num' value=${i}>${i}</li>`
    }
    select.querySelector('.option').innerHTML = ops;
    const option = document.querySelectorAll(".selection .option li");
    const tType = document.querySelector('input[name=unity-set]');
    select.addEventListener("click", (e) => {
      select.classList.toggle('active');
      option.forEach(btn => {
        btn.addEventListener('click', (e) => {
          select.children[0].innerHTML = e.target.innerText;
          tType.value = e.target.innerText;
        })
      });
    });
    const noticeList = document.querySelector(".notice-list");
    for (let i = 32; i > 0; i--) {
      noticeList.innerHTML += `
      <li class="btn-off bor10">
          <p class="time"><span class="date">2022.12.12</span> <br> <span class="hour">12:44:01</span></p>
          <p class="img"><img src="./img/replace/man.png" alt=""></p>
          <p class="type"><span>모니터링</span><span>(키워드)</span></p>
          <p class="unity">99%</p>
          <p class="cont"><span class="con">엄훠나 세솽에 이런 일이 다 있고 참 이상하네요 정말 정말 정말 왜 이렇게 이상할까요?????</span></p>
          <img src="./img/common/sns/face.png" alt="" class="social">
          <p class="url"><a href="#">https//:wwwgooglecomsearchq=%EC%9D%B8%EC%8A%A4%ED%83%80oq=%EC%9D%B8%EC%8A%A4%ED%83%80&aASDFsdfas...</a></p>
          <button class="trace-add btn-off">추가</button>
        </li>
        `;
    }
    function autoTrace(val){
      $.ajax({
        type : "POST",
        url : "/ajax_auto_Insert",
        data : {'auto_keyword' : $('.keyword-add').val()},
        success : function(res){
          let word=val.querySelector("input").value;
          document.querySelector('.keyword-box>div').innerHTML+=
                  `<p class="word-list">${word}<span type="button" field="${word}" class="delete" onclick='aTDelete(this);'>삭제</span></p>`;
          val.querySelector("input").value='';
        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
          alert("통신 실패.")
        }
      });
    }
    function aTDelete(del){
      var field = $(del).attr('field');
      $.ajax({
        type : "POST",
        url : "/ajax_auto_Delete",
        data : {'auto_keyword' : $(del).attr('field')},
        success : function(res){

          $('.delete').each(function(index, item){
            if($(this).attr('field') == field){
              item.parentNode.remove();
            }
          })
        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
          alert("통신 실패.")
        }
      });

    }

    // 키워드
    const autoKey = document.querySelector(".auto-trace");
    autoKey.addEventListener("click", () => {
      //XMLHttpRequest 객체 생성
      var xhr = new XMLHttpRequest();
      //요청을 보낼 방식, 주소, 비동기여부 설정
      xhr.open('GET', '/keyword', true);
      //요청 전송
      xhr.send(null);
      //통신후 작업
      xhr.onload = () => {
        //통신 성공
        if (xhr.status == 200) {
          document.body.style.overflow = 'hidden';
          modal.style.display = 'flex';
          modal.innerHTML = xhr.response;

          const esc = document.querySelector(".esc-btn");
          esc.onclick = () => {
            modal.style.display = 'none';
            document.body.style.overflow = 'unset';
          }
        } else {
          //통신 실패
          console.log("통신 실패");
        }
      }
    })
  </script>
</body>

</html>