<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>디지털 성범죄</title>
  <link rel="stylesheet" href="/css/common.min.css" />
  <link rel="stylesheet" href="/css/result.min.css" />
  <link rel="stylesheet" href="/css/detail.min.css" />
  <link rel="stylesheet" href="/css/dev.css" />

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/style.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/function.js"></script>
</head>

<body>
<article class="result-wrap wrapper">
  <th:block th:replace="~{html/header.html :: headerFragment}"></th:block>
  <seciton class="layout" id="result">
    <h1 class="title">재확산 자동추적</h1>

    <form class="noticeForm" action="/notice" id="searchForm">
      <input type="hidden" name="page" id="searchPage">
      <input type="hidden" name="listType" id="listType">
      <input type="hidden" name="tsiUno" th:value="${tsiUno}">
      <input type="hidden" name="tsiKeyword" th:value="${tsiKeyword}">
      <input type="hidden" name="tsiType" th:value="${tsiType}">

      <div class="searchTypeWrap">
        <div class="searchType">
          <input type="radio" id="all" name="tsiSearchType" th:value="0" th:checked="${tsiSearchType == 0}">
          <label class="btn-off bor10" for="all" tooltip="피해촬영물" flow="up">All</label>

          <input type="radio" id="searchType1" name="tsiSearchType" th:value="1" th:checked="${tsiSearchType == 1}">
          <label class="btn-off bor10" for="searchType1" tooltip="피해촬영물" flow="up">피해촬영물</label>

          <input type="radio" id="searchType2" name="tsiSearchType" th:value="2" th:checked="${tsiSearchType == 2}">
          <label class="btn-off bor10" for="searchType2" tooltip="아청물" flow="up">아청물</label>
        </div>
      </div>
    </form>
      <div class="search-contents">
        <div class="search-list">
          <div class="search-tab" th:if="${tsiUno != 0}">
            <div class="tab on">
              <div class="search-img">
                <img th:if="${(imgSrc != null && tsiType != '15' && tsiType != '19')}" th:src="'/imagePath'+${#strings?.substring(imgSrc,7)}" alt="">
                <video th:if="${(imgSrc != null && (tsiType == '15' || tsiType == '19'))}" th:src="'/imagePath'+${#strings?.substring(imgSrc,7)}" alt=""></video>
              </div>
            </div>
            <div class="tab research" th:if="${tsiType == '11' || tsiType == '13' || tsiType == '15'}">
              <p>"<span th:text="${tsiKeyword}">sitting</span>"에 대한 검색 결과 입니다.</p>
            </div>
            <div  style="margin-left:5px;" >
              <p><span> | 상담사 : </span><span th:text="${userId}">상담사 아이디</span></p>
            </div>
          </div>
        </div>

        <p class="total-num">총 <span th:text="${searchResultListCount}"></span> 건</p>
        <div class="view-type">
          <button type="button" class="list-btn btn-off active">목록형</button>
          <button class="img-btn btn-off">이미지형</button>
        </div>
      </div>
    <div class="result-list  list-content">
      <section class="list M-box-up bor10" th:each="list:${searchResultList}">
        <div class="img-box">
          <input type="hidden" th:value="${list.getTsrUno()}" id="tsrUno">
          <div class="img">
            <span th:if="${list.getTsiSearchType() eq '2'}" class="childIcon"><img src="/img/common/childicon.png"></span>
            <img th:if="${not #strings.isEmpty(list.getTsrImgPath())}" th:src="${'/imagePath'+#strings.substring(list.getTsrImgPath(),7)+list.getTsrImgName()}" alt="" loading="lazy" >
            <img th:unless="${not #strings.isEmpty(list.getTsrImgPath())}" src="/img/common/noImage.jpg">
          </div>
          <th:block th:switch="${list.getTsrSns()}">
            <img th:case="11" src="/img/common/sns/google-round.png" alt="" class="sns">
            <img th:case="13" src="/img/common/sns/twitter-round.png" alt="" class="sns">
            <img th:case="15" src="/img/common/sns/insta-round.png" alt="" class="sns">
            <img th:case="17" src="/img/common/sns/facebook-round.png" alt="" class="sns">
          </th:block>
        </div>
        <div>
          <th:block th:if="${tsiType != '11'}" th:switch="${list.getTmrStat()}">
            <span th:case="00">대기중</span>
            <span th:case="01">처리중</span>
            <span th:case="10">SKIP</span>
            <span th:case="*">
              <div>
                <span class="CommonSearchDetail searchDetail">No.</span>
                <span class="CommonSearchDetail" th:text="${list.getTsrUno()}"></span>
                <span class="CommonSearchDetail searchDetail searchNation"
                      th:if="${list.getTsrNationCode() != null}">국가:</span>

                <th:block th:switch="${list.getTsrNationCode()}">
                  <span class="CommonSearchDetail" th:case="us" th:text="미국"></span>
                  <span class="CommonSearchDetail" th:case="kr" th:text="한국"></span>
                  <span class="CommonSearchDetail" th:case="cn" th:text="중국"></span>
                  <span class="CommonSearchDetail" th:case="nl" th:text="네덜란드"></span>
                  <span class="CommonSearchDetail" th:case="th" th:text="태국"></span>
                  <span class="CommonSearchDetail" th:case="ru" th:text="러시아"></span>
                  <span class="CommonSearchDetail" th:case="vn" th:text="베트남"></span>
                </th:block>
              </div>
              <h2 style="display:inline-block" class="unity" th:if="${list.getTmrSimilarity() != null && list.getTmrSimilarity() > '0'}" th:text="${#strings.concat(list.getTmrSimilarity(), '%')}">99%</h2>
              <span th:if="${(tsiType == '15' || tsiType == '19')}">
                <b th:if="${list.getTmrVScore() != null && list.getTmrVScore() != '0.0'}">(V : <span th:text="${list.getTmrVScore()}">100</span>%,&nbsp;</b>
                <b th:unless="${list.getTmrVScore() != null && list.getTmrVScore() != '0.0'}">(V : <span>비교없음,</span>&nbsp;</b>
                <b th:if="${list.getTmrAScore() != null && list.getTmrAScore() != '0.0'}">A : <span th:text="${list.getTmrAScore()}">100</span>%,&nbsp;</b>
                <b th:unless="${list.getTmrAScore() != null && list.getTmrAScore() != '0.0'}">A : <span>비교없음,&nbsp;</span></b>
                <b th:if="${list.getTmrTScore() != null && list.getTmrTScore() != '0.0'}">T : <span th:text="${list.getTmrTScore()}">100</span>%)</b>
                <b th:unless="${list.getTmrTScore() != null && list.getTmrTScore() != '0.0'}">T : <span>비교없음</span>)</b>
              </span>
            </span>
          </th:block>
        </div>
        <a th:href="${list.getTsrSiteUrl()}" target="_blank" class="url"><p class="url" th:text="${list.getTsrSiteUrl()}">url이 들어갑니다</p></a>
        <p class="content" th:text="${list.getTsrTitle()}">글의 내용이 들어갑니다</p>
        <p class="detail" th:text="${#strings.concat('파일유형 : ',list.getTsrImgExt(),', ','파일명 : ',list.getTsrImgName())}">파일 정보가 들어갑니다</p>
        <button class="trace-add btn-off" th:classappend="${list.getTrkStatCd() != null ? 'active' : ''}" th:value="${list.getTsrUno()}">추가</button>
      </section>

      <section th:if="${searchResultListCount == 0}" style="width: 100%; text-align: center;">조회 결과가 없습니다.</section>
    </div>
  </seciton>
  <nav>
    <ul id="pagination" th:with="start=${(number / maxPage * maxPage) + 1}, end=(${(totalPages == 0) ? 1 : ((start + maxPage - 1) < totalPages ? (start + maxPage - 1) : totalPages)})">
      <li class="page-num" th:if="${start > 1}"><a th:onclick="'javascript:searchEvent('+ ${1} + ');'" class="btn-off" style="width:30px;">처음</a></li>
      <li class="page-prev" th:if="${start > 1}"><a th:onclick="'javascript:searchEvent('+ ${start - maxPage} + ');'" class="btn-off">이전</a></li>
      <li class="page-num" th:each="pageNum : ${#numbers.sequence(start, end)}"><a th:onclick="'javascript:searchEvent('+ ${pageNum} + ');'" class="btn-off" th:classappend="${number + 1 == pageNum} ? 'active' : ''" th:text="${pageNum}"></a></li>
      <li class="page-next" th:if="${end < totalPages}"><a th:onclick="'javascript:searchEvent('+ ${start + maxPage} + ');'" class="btn-off">다음</a></li>
      <li class="page-num" th:if="${end < totalPages}"><a th:onclick="'javascript:searchEvent('+ ${totalPages} + ');'" class="btn-off" style="width:30px;">끝</a></li>
    </ul>
  </nav>
  <script>footer();</script>
</article>

<script th:inline="javascript">
  /*<![CDATA[*/
  // const list = document.querySelector(".result-list");

  // 페이징하고 검색이력
  const searchForm = document.querySelector("#searchForm");
  const searchPage = document.querySelector("#searchPage");
  const searchEvent = (pageNum) => {
    searchPage.value = pageNum;
    searchForm.submit();
  }

  $(function(){
    $("input[name='tsiSearchType']").on("change", function(){
      $("#searchForm").submit();
    });
  });

  const pageBtn = document.querySelectorAll(".btn-off");
  pageBtn.forEach((btn) => {
    btn.style.cursor = "pointer";
  })

  // 검색 디테일
  const imgBtn = document.querySelectorAll(".img-box");
  const modal = document.querySelector("#modal");
  imgBtn.forEach((btn) => {
    const tsrUno = btn.querySelector("#tsrUno");
    btn.addEventListener('click', () => {
      //XMLHttpRequest 객체 생성
      var xhr = new XMLHttpRequest();
      //요청을 보낼 방식, 주소, 비동기여부 설정
      xhr.open('GET', 'result-detail?tsrUno='+tsrUno.value, true);
      //요청 전송
      xhr.send(null);
      //통신후 작업
      xhr.onload = () => {
        //통신 성공
        if (xhr.status === 200) {
          document.body.style.overflow = 'hidden';
          modal.style.display = 'block';
          modal.innerHTML = xhr.response;
          const esc = document.querySelector(".trace-detail .esc-btn");
          esc.onclick = () => {
            modal.style.display = 'none';
            document.body.style.overflow = 'unset';
          }
        } else {
          //통신 실패
          console.log("통신 실패");
        }

      }
    })
  });

  // 추적 상태 추가 버튼
  const addTraceBtn = document.querySelectorAll(".trace-add");
  addTraceBtn.forEach((btn) => {

    btn.addEventListener('click', () => {
      // btn.disabled = true;
      //XMLHttpRequest 객체 생성
      const xhr = new XMLHttpRequest();
      //요청을 보낼 방식, 주소, 비동기여부 설정
      xhr.open('GET', 'search/addTrkStat?tsrUno='+btn.value, true);
      //요청 전송
      xhr.send(null);
      //통신후 작업
      xhr.onload = () => {
        if (xhr.status === 200) {   //통신 성공
          console.log("통신 성공");
          btn.disabled = false;
        } else {  //통신 실패
          console.log("통신 실패");
          btn.disabled = false;
        }
      }
    })
  });

  // 재검색 (0317수정)
  // const reSearch = (con) => {
  //   const tabW = document.querySelector('.search-tab');
  //   const text = `
  //       <div class="tab research">
  //               <p>${con.re_search.value}</p>
  //             </div>
  //       `;
  //   tabW.insertAdjacentHTML("beforeend", text);
  //   document.querySelector('.next').style.display = 'block';
  //   document.querySelector('.search-bar').style.display='none';
  // }


  // 검색내용 이미지 클릭시 팝업(0317추가) 여기
  const searchImg = document.querySelector('.search-img');
  searchImg.addEventListener('click', function () {
    document.body.style.overflow = 'hidden';
    modal.style.display = 'block';
    modal.innerHTML = `<div class='modal bor10 searchmodal'>
        ${this.children[0].outerHTML}
      <button class="esc-btn">닫기</button>
        </div>`;
    if(modal.querySelector('video')){
      modal.querySelector('video').controls=true;
    }
    const esc = modal.querySelector(".esc-btn");
    esc.onclick = () => {
      modal.style.display = 'none';
      document.body.style.overflow = 'unset';
    }
  })

  const video = [[${tsiType}]] == '15' || [[${tsiType}]] == '19';
  if (video) {
    document.querySelector('.video-chk').style.display = 'block';
  } else {
    document.querySelector('.video-chk').style.display = 'none';
  }

  const sortChkDiv = [[${tsiType}]] != '11';
  if (sortChkDiv) {
    document.querySelector('.sort-chk').style.display = 'block';
  } else {
    document.querySelector('.sort-chk').style.display = 'none';
  }

  // SNS check된 값1로 넘기기
  const sns_chk = document.querySelectorAll('.chk-box-sns input[type=checkbox]');
  for (let i = 0; i < sns_chk.length; i++) {
    sns_chk[i].addEventListener('change', function () {
      this.value ^= 1;
      // 일치율선택시 우선순위 나오기
      if (this.id === 'equal') {
        if (this.checked) {
          document.querySelector('.pri-chk').style.display = 'block';
        } else {
          document.querySelector('.pri-chk').style.display = 'none';
        }
      }
      // 전체 누르면 다른값 체크해제
      if (this.className ==='W') {
        if(this.checked) {
          [...sns_chk].filter(check=>check.className !=='W' && check.name !== this.name).forEach(e => {
            if (e.checked) {
              e.checked = false;
              e.value ^= 1;
            }
          })
          document.querySelector('.pri-chk').style.display = 'none';
          this.disabled = true;
        }
      }
      // 다른체크시 전체 체크값해제
      if (this.className !== 'W') {
        [...sns_chk].filter(check => check.className === 'W' && check.name !== this.name).forEach(e => {
          if(e.checked) {
            e.checked = false;
            e.value ^= 1;
            e.disabled = false;
          }
        })
      }
      if (sns_chk[1].value+sns_chk[2].value+sns_chk[3].value+sns_chk[4].value === "0000") {
        sns_chk[0].checked = true;
        sns_chk[0].value ^= 1;
        sns_chk[0].disabled = true;
      }
    })
  }

  //분류 check된 값1로 넘기기
  const chk = document.querySelectorAll('.chk-box-tsj input[type=checkbox]');
  for (let i = 0; i < chk.length; i++) {
    chk[i].addEventListener('change', function () {
      this.value ^= 1;
      // 일치율선택시 우선순위 나오기
      if (this.id === 'equal') {
        if (this.checked) {
          document.querySelector('.pri-chk').style.display = 'block';
        } else {
          document.querySelector('.pri-chk').style.display = 'none';
        }
      }
      // 전체 누르면 다른값 체크해제
      if (this.className ==='W') {
        if(this.checked) {
          [...chk].filter(check=>check.className !=='W' && check.name !== this.name).forEach(e => {
            if (e.checked) {
              e.checked = false;
              e.value ^= 1;
            }
          })
          document.querySelector('.pri-chk').style.display = 'none';
          this.disabled = true;
        }
      }
      // 다른체크시 전체 체크값해제
      if (this.className !== 'W') {
        [...chk].filter(check => check.className === 'W' && check.name !== this.name).forEach(e => {
          if(e.checked) {
            e.checked = false;
            e.value ^= 1;
            e.disabled = false;
          }
        })
      }
      if (chk[1].value+chk[2].value+chk[3].value+chk[4].value === "0000") {
        chk[0].checked = true;
        chk[0].value ^= 1;
        chk[0].disabled = true;
      }
    })
  }

  //일치율 check된 값1로 넘기기
  const od_chk = document.querySelectorAll('.chk-box-od input[type=checkbox]');
  for (let i = 0; i < od_chk.length; i++) {
    console.log(this.className);
    od_chk[i].addEventListener('change', function () {
      this.value ^= 1;
      // 일치율선택시 우선순위 나오기
      if (this.id === 'equal') {
        if (this.checked) {
          document.querySelector('.pri-chk').style.display = 'block';
        } else {
          document.querySelector('.pri-chk').style.display = 'none';
        }
      }
      // 전체 누르면 다른값 체크해제
      if (this.className ==='W') {
        if(this.checked) {
          [...od_chk].filter(check=>check.className !=='W' && check.name !== this.name).forEach(e => {
            if (e.checked) {
              e.checked = false;
              e.value ^= 1;
            }
          })
          document.querySelector('.pri-chk').style.display = 'none';
          this.disabled = true;
        }
      }
      // 다른체크시 전체 체크값해제
      if (this.className !== 'W') {
        [...od_chk].filter(check => check.className === 'W' && check.name !== this.name).forEach(e => {
          if(e.checked) {
            e.checked = false;
            e.value ^= 1;
            e.disabled = false;
          }
        })
      }
      if (od_chk[1].value+od_chk[2].value+od_chk[3].value === "0000") {
        od_chk[0].checked = true;
        od_chk[0].value ^= 1;
        od_chk[0].disabled = true;
      }
    })
  }
  // --------------------------------------------------------------------------------------------
  view_type();
  /*]]>*/
</script>
</body>

</html>