<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>디지털 성범죄</title>
  <link rel="stylesheet" href="/css/common.min.css" />
  <link rel="stylesheet" href="/css/login.min.css" />
</head>

<body>
  <article class="pin-wrap wrapper">
    <section id="pin">
      <div class="top">
        <h1><img src="/img/common/earning.png" alt="비밀번호 경고">
        </h1>
        <p>
          마지막 비밀번호 변경일로부터 90일이 경과했습니다. <br>
          소중한 개인정보보호를 위해 비밀번호를 변경해 주세요.
        </p>
      </div>
      <form action="/user/password" class="bor10 L-box-up bottom" method="post">
        <div>
          <label for="user-id">아이디</label>
          <input type="text" class="bor10" th:value="${sessionInfo.getUserId()}" name="loginId" id="user-id" readonly >
        </div>
        <div>
          <label for="new-pw">새 비밀번호</label>
          <input type="password" placeholder="8~16자 이내 영문,숫자 조합" class="M-box-in bor10" name="loginPw" id="new-pw">
          <p class="pin-check"></p>
        </div>
        <div>
          <label for="check-pw">새 비밀번호 확인</label>
          <input type="password" placeholder="새 비밀번호를 다시 입력해주세요" class="M-box-in bor10" id="check-pw">
          <p class="pin-check newpin-check"></p>
        </div>
        <button class="bor10 pass-btn" type="submit" disabled>변경하기</button>
      </form>
    </section>
    <footer>
      <p class="copy">Copyright ⓒ 서울기술연구원 Corp. All Rights Reserved.</p>
    </footer>
  </article>
  <script>
    const new_pw = document.querySelector("#new-pw"),
          check_pw = document.querySelector("#check-pw"),
          change = document.querySelector('.pass-btn');

    new_pw.addEventListener("keyup", function () {
      isPwCheck();
    })
    check_pw.addEventListener("keyup", function () {
      isPwCheck();
    })

    const isPwCheck = function () {
      const pinchk = document.querySelector(".newpin-check");
      const regExpPwCheck = /^(?=.*[a-zA-Z])(?=.*[0-9]).{8,16}$/;

      if( !regExpPwCheck.test(new_pw.value) ) {
        change.classList.remove('active');
        change.disabled = true;
        pinchk.innerText=`*비밀번호는 8~16자 이내 영문,숫자 조합 으로 사용해야 합니다.`;
      } else if (new_pw.value !== '' && new_pw.value === check_pw.value) {
        change.classList.add('active');
        pinchk.innerText=``;
        change.disabled = false;
      } else if(new_pw.value !== check_pw.value) {
        change.classList.remove('active');
        change.disabled = true;
        pinchk.innerText=`*비밀번호가 불일치합니다.`;
      }
    }
  </script>
</body>
</html>