<section class="keyword serpServices counselor-add bor10">
    <h3 class="title">서비스 설정 정보</h3>
    <div class="keyword-box btn-on bor10" style="margin-top: 30px;">
        <div class="box_wrap service_info">
            <form name="keyword" class="flex flex-column">
                <ul>
                    <li>
                        <label class="flex">
                            <span class="tit">서비스</span>
                            <span class="tit">아이콘</span>
                            <span class="tit">설정여부</span>
                            <span class="tit">노출여부</span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">구글</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="구글"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">트위터</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="트위터"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">인스타그램</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="인스타그램"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">페이스북</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="페이스북"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>

                    <li>
                        <label class="flex">
                            <span class="tit">구글</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="구글"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">트위터</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="트위터"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">인스타그램</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="인스타그램"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                    <li>
                        <label class="flex">
                            <span class="tit">페이스북</span>
                            <span class="icon flex flex_cnt"><span class="icon_box"><img src="/img/sns/insta.png" alt="페이스북"></span></span>
                            <span class="select_box"><input type="checkbox"></span>
                            <span class="select_box"><input type="checkbox"></span>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <button type="button" class="esc-btn">닫기</button>
</section>
