<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div class="trace-detail modal bor10 layout">
  <button class="esc-btn">닫기</button>
  <section class="detail-box">
    <h2 class="tit">
      대상추가 정보
    </h2>
    <div class="detail-content M-box-up bor10">
      <div class="trace-img bor10 img-box">
        <div class="img" th:if="${traceInfo.getTsrImgPath()} != null ">
          <img  th:if="${traceInfo.getTsiType() != '15' && traceInfo.getTsiType() != '19'}"  th:src="${'/imagePath'+#strings.substring(traceInfo.getTsrImgPath(),7)+traceInfo.getTsrImgName()}" alt="">
          <div class="video" th:unless="${traceInfo.getTsiType() != '15' && traceInfo.getTsiType() != '19'}">
            <video th:if="${traceInfo.getTsiType() == '15' || traceInfo.getTsiType() == '19'}" th:src="'/imagePath'+${#strings.substring(traceInfo.getTsiImgPath(),7)}+${traceInfo.getTsrImgName()}" controls></video>
          </div>
        </div>
      </div>
      <div class="img-info">
        <div>
          <h3>일치율</h3>
          <th:block th:switch="${traceInfo.getTsjStatus()}">
            <p th:case="10">대기중</p>
            <p th:case="01">처리중</p>
            <p th:case="10">SKIP</p>
            <p th:case="11"><b th:text="${#strings.concat(traceInfo.getTmrSimilarity(), '%')}">99%</b>
              <span th:if="${(traceInfo.getTsiType == '15' || traceInfo.getTsiType == '19')}">
                  <b th:if="${traceInfo.getTmrVScore() != null && traceInfo.getTmrVScore() != '0.0'}">(V : <span th:text="${traceInfo.getTmrVScore()}">100</span>%,&nbsp;</b>
                  <b th:unless="${traceInfo.getTmrVScore() != null && traceInfo.getTmrVScore() != '0.0'}">(V : <span>비교없음,</span>&nbsp;</b>
                  <b th:if="${traceInfo.getTmrAScore() != null && traceInfo.getTmrAScore() != '0.0'}">A : <span th:text="${traceInfo.getTmrAScore()}">100</span>%,&nbsp;</b>
                  <b th:unless="${traceInfo.getTmrAScore() != null && traceInfo.getTmrAScore() != '0.0'}">A : <span>비교없음,</span>&nbsp;</b>
                  <b th:if="${traceInfo.getTmrTScore() != null && traceInfo.getTmrTScore() != '0.0'}">T : <span th:text="${traceInfo.getTmrTScore()}">100</span>%)</b>
                  <b th:unless="${traceInfo.getTmrTScore() != null && traceInfo.getTmrTScore() != '0.0'}">T : <span>비교없음</span>)</b>
              </span>
<!--              <span th:if="${(traceInfo.getTsiType == '15' || traceInfo.getTsiType == '19')}">-->
<!--                  <b th:if="${traceInfo.getTmrVScore() != null && traceInfo.getTmrVScore() != '0.0'}">(V : <span th:text="${traceInfo.getTmrVScore()}">100</span>%,&nbsp;</b>-->
<!--                  <b th:if="${traceInfo.getTmrVScore() == null || traceInfo.getTmrVScore() == '0.0'}">(V : <span>비교없음,</span>&nbsp;</b>-->
<!--                  <b th:if="${traceInfo.getTmrAScore() != null && traceInfo.getTmrAScore() != '0.0'}">A : <span th:text="${traceInfo.getTmrAScore()}">100</span>%,&nbsp;</b>-->
<!--                  <b th:if="${traceInfo.getTmrAScore() == null || traceInfo.getTmrAScore() == '0.0'}">A : <span>비교없음,</span>&nbsp;</b>-->
<!--                  <b th:if="${traceInfo.getTmrTScore() != null && traceInfo.getTmrTScore() != '0.0'}">T : <span th:text="${traceInfo.getTmrTScore()}">100</span>%)</b>-->
<!--                  <b th:if="${traceInfo.getTmrTScore() == null || traceInfo.getTmrTScore() == '0.0'}">T : <span>비교없음</span>)</b>-->
<!--              </span>-->
            </p>
          </th:block>

        </div>
        <div>
          <h3>SNS분류</h3>
          <th:block th:switch="${traceInfo.getTsrSns()}"><p th:case="11">구글</p><p th:case="13">트위터</p><p th:case="15">인스타그램</p><p th:case="17">페이스북</p></th:block>
        </div>
        <div>
          <h3>URL</h3>
          <p th:text="${traceInfo.getTsrSiteUrl()}"></p>
        </div>
        <div>
          <h3>게시글 내용</h3>
          <p th:text="${traceInfo.getTsrTitle()}">내용이요</p>
        </div>
        <div th:if="${traceInfo.getTsrImgName() != null}">
          <h3>파일명</h3>
          <p th:text="${traceInfo.getTsrImgName()}">replace.png</p>
        </div>
        <div th:if="${traceInfo.getTsrImgExt() != null}">
          <h3>파일유형</h3>
          <p th:text="${traceInfo.getTsrImgExt()}">PNG</p>
        </div>
        <div th:if="${traceInfo.getTsrImgSize() != null}">
          <h3>파일크기</h3>
          <p th:text="${traceInfo.getTsrImgSize()}+'KB'">100MB</p>
        </div>
        <div th:if="${traceInfo.getTsrImgWidth() != null}">
          <h3>사진크기</h3>
          <p th:text="|${traceInfo.getTsrImgWidth()} x ${traceInfo.getTsrImgHeight()}|">1000*500</p>
        </div>
        <div>
          <h3>대상추가 일시</h3>
          <p th:text="${#dates.format(traceInfo.getTsrFstDmlDt(), 'yyyy-MM-dd')}">2023-01-02</p>
        </div>
      </div>
    </div>
  </section>
<!--  <section class="detail-box">-->
<!--    <h2 class="tit">-->
<!--      재검색 정보-->
<!--    </h2>-->
<!--    <div class="detail-content M-box-up bor10">-->
<!--      <div class="trace-img img-box ">-->
<!--        <div class="video">-->
<!--          <video src="./img/replace/replacevideo.mp4"></video>-->
<!--          <div class="play-wrap">-->
<!--            <div class="play-btn"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="img-info">-->
<!--        <div>-->
<!--          <h3>검색유형</h3>-->
<!--          <p><span>영상</span> / <span>인스타그램,페이스북</span></p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>파일명</h3>-->
<!--          <p>replace.mp4</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>파일유형</h3>-->
<!--          <p>MP4</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>파일크기</h3>-->
<!--          <p>100MB</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>프레임</h3>-->
<!--          <p>1000*500</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>영상 길이</h3>-->
<!--          <p>00:00:40</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>재검색 일시</h3>-->
<!--          <p>2023-01-02</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div id="preview">-->
<!--        <h3 class="preview-tit">영상 미리보기</h3>-->
<!--        <div class="preview-box ">-->
<!--          <div class="preview-img bor10">-->
<!--            <video src="./img/replace/replacevideo.mp4"></video>-->
<!--            <canvas></canvas>-->
<!--          </div>-->
<!--          <div class="preview-img bor10">-->
<!--            <video src="./img/replace/replacevideo.mp4"></video>-->
<!--            <canvas></canvas>-->
<!--          </div>-->
<!--          <div class="preview-img bor10">-->
<!--            <video src="./img/replace/replacevideo.mp4"></video>-->
<!--            <canvas></canvas>-->
<!--          </div>-->
<!--          <div class="preview-img bor10">-->
<!--            <video src="./img/replace/replacevideo.mp4"></video>-->
<!--            <canvas></canvas>-->
<!--          </div>-->
<!--          <div class="preview-img bor10">-->
<!--            <video src="./img/replace/replacevideo.mp4"></video>-->
<!--            <canvas></canvas>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <section class="detail-box">
    <h2 class="tit">
      검색 정보
    </h2>
    <div class="detail-content M-box-up bor10">
<!--      <div class="img-info noimg">-->
      <div class="trace-img img-box" th:if="${traceInfo.getTsiType() != '11'}">

          <img th:if="${traceInfo.getTsiType() != '15' && traceInfo.getTsiType() != '19'}" th:src="'/imagePath'+${#strings.substring(traceInfo.getTsiImgPath(),7)}+${traceInfo.getTsiImgName()}" alt="">
          <div class="video" th:unless="${traceInfo.getTsiType() != '15' && traceInfo.getTsiType() != '19'}">
            <video th:if="${traceInfo.getTsiType() == '15' || traceInfo.getTsiType() == '19'}" th:src="'/imagePath'+${#strings.substring(traceInfo.getTsiImgPath(),7)}+${traceInfo.getTsiImgName()}" controls></video>
          </div>
      </div>
      <div class="img-info">
        <div>
          <h3>검색유형</h3>
          <p><th:block th:switch="${traceInfo.getTsiType()}">
            <span th:case="${'11'}">키워드</span>
            <span th:case="${'13'}">키워드 + 사진</span>
            <span th:case="${'15'}">키워드 + 영상</span>
            <span th:case="${'17'}">사진</span>
            <span th:case="${'19'}">영상</span></th:block> /

            <span th:if="${traceInfo.getTsiGoogle()}">구글</span>
            <span th:if="${traceInfo.getTsiTwitter()}">트위터</span>
            <span th:if="${traceInfo.getTsiInstagram()}">인스타그램</span>
            <span th:if="${traceInfo.getTsiFacebook()}">페이스북</span>
          </p>
        </div>
        <div th:if="${traceInfo.getTsiType() == '15' || traceInfo.getTsiType() == '19'}">

        </div>
        <div th:if="${traceInfo.getTsiType() != '11'}">
          <h3>파일명</h3>
          <p th:text="${traceInfo.getTsiImgName()}">replace.mp4</p>
        </div>
        <div th:if="${traceInfo.getTsiType() != '11'}">
          <h3>파일유형</h3>
          <p th:text="${traceInfo.getTsiImgExt()}">MP4</p>
        </div>
        <div th:if="${traceInfo.getTsiType() != '11'}">
          <h3>파일크기</h3>
          <p th:text="${traceInfo.getTsiImgSize()}+'KB'">100MB</p>
        </div>
        <div th:if="${traceInfo.getTsiType() == '13' || traceInfo.getTsiType() == '17'}">
          <h3>사진크기</h3>
          <p th:text="${traceInfo.getTsiImgWidth()}+' x '+${traceInfo.getTsiImgHeight()}">1000*500</p>
        </div>
<!--        <div>-->
<!--          <h3>프레임</h3>-->
<!--          <p>1000*500</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>영상 길이</h3>-->
<!--          <p>00:00:40</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <h3>재검색 일시</h3>-->
<!--          <p>2023-01-02</p>-->
<!--        </div>-->
      </div>
      <div id="preview" th:if="${traceInfo.getTsiType() == '15' || traceInfo.getTsiType() == '19'}">
        <h3 class="preview-tit">영상 미리보기</h3>
        <div class="preview-box ">
          <div class="preview-img bor10" th:each="list:${videoInfoList}">
            <video th:src="|${list.getTviImgRealPath()}${list.getTviImgName()}|"></video>
            <canvas></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</html>